---
export interface Props {
  name: "CcByNc" | "CcBySa" | "PD" | string | false | undefined | null;
}

import CreativeCommons from "./CreativeCommons.astro";
import PublicDomain from "./PublicDomain.astro";
const { name } = Astro.props;
---

{
  name ?
    (<div class="licence">
  {
    !!name &&
      (name.startsWith("Cc") ? (
        <CreativeCommons>
          <slot />
        </CreativeCommons>
      ) : name === "PD" ? (
        <PublicDomain>
          <slot />
        </PublicDomain>
      ) : (
        <slot />
      ))
  }
</div>)
:(<></>)
}

<style lang="less" is:global>
  .licence {
    // border: 2px solid #a7a7a7;
    // background-color: #f9f9f9;
    padding: 6px 18px;
    opacity: 0.75;
    // line-height: 150%;
    a {
      color: inherit;
    }
  }
</style>
