---
export interface Props {
  name: "CcByNc" | "CcBySa" | "PD" | string;
}

import CreativeCommons from "./CreativeCommons.astro";
import PublicDomain from "./PublicDomain.astro";
import "@/styles/a.less"
const { name } = Astro.props;
---

<div class="licence">
  {
    name.startsWith("Cc") ? (
      <CreativeCommons>
        <slot />
      </CreativeCommons>
    ) : name === "PD" ? (
      <PublicDomain>
        <slot />
      </PublicDomain>
    ) : (
      <slot />
    )
  }
</div>

<style>
  .licence {
    border: 2px solid #a7a7a7;
    background-color: #f9f9f9;
    padding: 8px 24px;
  }
</style>
