---
export interface Props {
  title: string;
  metas?: {
    [key: string]: string;
  };
}

let { title, metas } = Astro.props;

if (!metas?.viewport) {
  if (!metas) metas = {};
  metas["viewport"] = "width=device-width, initial-scale=1.0";
}
metas["generator"] = Astro.generator;
// import "modern-css-reset";

import "@/styles/han.less";

// import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="zh">
  <head>
    {
      /*
      <!-- <ViewTransitions fallback="none" /> -->
      */
    }
    <meta charset="utf-8" />
    {
      metas &&
        Object.entries(metas).map(([key, value]) => (
          <meta name={key} content={value} />
        ))
    }
    <title>{title}</title>
    <link
      rel="icon"
      type="image/png"
      href="https://user-images.githubusercontent.com/20166026/235318317-7fb2fe2f-ebd9-4e20-b24a-474611e3738f.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://user-images.githubusercontent.com/20166026/235318317-7fb2fe2f-ebd9-4e20-b24a-474611e3738f.png"
    />
    <link rel="prefetch" href="/" />
    <link rel="prefetch" href="/about/" />
    {
      /*
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"
      crossorigin="anonymous"
    />-->
    */
    }
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --body-bg-color: #eee;
        --accent-color: rgb(0, 0, 0);
      }

      body {
        margin: 0px;
        padding: 0px;
      }

      html,
      body {
        position: relative;
      }

      h1 {
        text-align: center;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        text-align: left;
      }

      ::selection {
        background: rgba(37, 37, 37, 0.85);
        color: #fff;
      }

      pre,
      code {
        font-family: "更纱等距黑体", "Fira Code", "FiraCode NF",
          "Noto Sans CJK Mono SC", "Source Code Pro", consolas, monospace;
      }
    </style>
  </body>
</html>
