---
export interface Props {
  title: string;
  metas?: {
    [key: string]: string;
  };
}

const { title, metas } = Astro.props;

// import "modern-css-reset";

import "@fontsource/noto-sans-sc/400.css";
import "@fontsource/noto-sans-sc/500.css";
import "@fontsource/noto-sans-sc/700.css";
import '@fontsource/noto-serif-sc/500.css';
import '@fontsource/noto-serif-sc/600.css';
import '@fontsource/noto-serif-sc/700.css';
import '@fontsource/noto-serif-sc/900.css';
import "@/styles/han.less";
---

<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {
      metas &&
        Object.entries(metas).map(([key, value]) => (
          <meta name={key} content={value} />
        ))
    }
    <title>{title}</title>
    <link
      rel="icon"
      type="image/png"
      href="https://user-images.githubusercontent.com/20166026/235318317-7fb2fe2f-ebd9-4e20-b24a-474611e3738f.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://user-images.githubusercontent.com/20166026/235318317-7fb2fe2f-ebd9-4e20-b24a-474611e3738f.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --body-bg-color: #eee;
    --accent-color: rgb(0, 0, 0);
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  h1 {
    text-align: center;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }

  ::selection {
    background: rgba(37, 37, 37, 0.85);
    color: #fff;
  }
</style>
