---
export interface Props {
  noscript?: boolean;
}

import Noscript from "@/components/boxes/Noscript.astro";
import { Icon } from "astro-icon";
import "@/styles/icon.less";

const noscript = Astro.props.noscript;
---

<footer>
  {noscript && <Noscript />}
  <div>
    Built with <a href="https://astro.build/"
      ><span class="icon"><Icon name="simple-icons:astro" /></span>Astro</a
    >
  </div>
  <div>
    Hosted & open sourced on
    <a href="https://github.com/OverflowCat/blog">
      <span class="icon"><Icon name="entypo-social:github" /></span>GitHub
    </a>
  </div>
  <div>
    <span class="icon"><Icon name="door" /></span>
    <span>新世界的大門 2023</span>
  </div>

  <style is:global lang="less">
    footer {
      margin: 24px;
      text-align: center;
      font-size: 0.8em;
      div {
        margin: 8px 0;
      }
      color: #666;
      a {
        color: #444;
        text-decoration: none;
      }
    }
  </style>
</footer>
