---
export interface Props {
  title: string;
  noscript?: boolean;
  bar?: {
    index?: number;
    transparent?: boolean;
  };
}

const { title, bar, noscript } = Astro.props;
import Base from "./Base.astro";
import Bar from "./Bar.astro";
import Footer from "../zh/Footer.astro";
---

<Base title={title + " | 新世界的大门"}>
  <Bar {...bar} />
  <div class="main">
    <slot />
  </div>
  <Footer noscript={noscript} />
</Base>

<style>
  body {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
    /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACJJREFUeNpi/P//Py8DpQCXISBxJlING4QaGEdDiQgAEGAAg8sST3LGZYoAAAAASUVORK5CYII="); */
  }
  .main {
    padding: 0.5rem;
  }
</style>
