---
export interface Props {
  title: string;
  noscript?: boolean;
  bar?: {
    index?: number;
    transparent?: boolean;
  };
  og?: OpenGraphData;
  metas?: { [key: string]: string };
  source?: string; // source code url on GitHub
}

let { title, bar, noscript, og, source } = Astro.props;

title = title ? title + " | 新世界的大门" : "新世界的大门";

if (!og) {
  og = {
    title,
    description: "新世界的大门",
    url: "https://blog.xinshijiededa.men",
    type: "website",
  };
}

const metas = {
  ...genOpenGraphMetas(og),
  ...Astro.props.metas,
  description: og.description ?? "新世界的大門 Blog",
};

import Base from "./Base.astro";
import Bar from "../Bar.astro";
import Footer from "../zh/Footer.astro";
import { genOpenGraphMetas, type OpenGraphData } from "@/scripts/open-graph";
---

<Base title={title} metas={metas}>
  <Bar {...bar} lang="zh-Hans" />
  <div class="main">
    <slot />
  </div>
  <Footer noscript={noscript} source={source} />
</Base>

<style>
  body {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
    /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACJJREFUeNpi/P//Py8DpQCXISBxJlING4QaGEdDiQgAEGAAg8sST3LGZYoAAAAASUVORK5CYII="); */
  }
  .main {
    padding: 0.5rem;
  }
</style>
