---
export interface Props {
  title: string;
  noscript?: boolean;
  og?: OpenGraphData;
  metas?: { [key: string]: string };
  source?: string; // source code url on GitHub
}

let { title, noscript, og, source } = Astro.props;

title = title ? title + " | 新世界的大门" : "新世界的大门";

if (!og) {
  og = {
    title,
    description: "新世界的大门",
    url: "https://blog.xinshijiededa.men",
    type: "website",
  };
}

const metas = {
  ...genOpenGraphMetas(og),
  ...Astro.props.metas,
  description: og.description ?? "新世界的大門 Blog",
};

import Base from "./Base.astro";
import Footer from "../zh/Footer.astro";
import { genOpenGraphMetas, type OpenGraphData } from "@/scripts/open-graph";
---

<Base title={title} metas={metas}>
  <div class="main">
    <slot />
  </div>
  <Footer noscript={noscript} source={source} />
</Base>

<style>
  :root {
    --bg-color: #fcfaf2;
    --bg-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.04) 1.5px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1.5px, transparent 1px);
  }
  body {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-size: 7px 7px;
  }
  .main {
    padding: 0.5rem;
  }
</style>
