---
import ArticleCard from "@/components/ArticleCard.astro";
import { posts as postsWorkaround } from "@/scripts/collection-workaround";
import PageWithSidebar from "@/templates/PageWithSidebar.astro";

const posts = postsWorkaround.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

// console.log(posts);
---

<PageWithSidebar title="新世界的大门" bar={{ index: 0 }}>
  <section class="contents">
    <ul>
      {
        posts.map((post) => (
          <li>
            <ArticleCard post={post} />
          </li>
        ))
      }
    </ul>
    <div id="end-info">页面已经到底啦！</div>
  </section>
</PageWithSidebar>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }

  li {
    margin: 0.5rem 0;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem 0;
  }
  #end-info {
    text-align: center;
    color: gray;
    font-size: 0.8rem;
    margin: 1rem;
  }
</style>
