---
import Page from "@templates/zh/Page.astro";
import Bar from "@templates/zh/Bar.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";

import { getCollection } from "astro:content";
import { formatPostDate } from "../scripts/date";
import Paper from "@/components/Paper.astro";
import { posts as postsWorkaround } from "@/scripts/collection-workaround";

const posts = postsWorkaround.sort((a, b) =>
     b.data.date - a.data.date
);

// console.log(posts);
---

<Page title="新世界的大门" bar_index={0}>
    <main>
        <Sidebar />
        <Paper>
            <section class="contents">
                <ul>
                    {posts.map((post) => (
                        <li>
                            <div>
                                <code>{formatPostDate(post.data.date)}</code>
                                <a class="title" href={`/${post.slug}/`}>{post.data.title || "No title"}</a>
                            </div>
                            <!-- <div class="desc">
                            {post.data.desc || "No description"}
                            </div> -->
                        </li>
                    ))}
                </ul>
            </section>
        </Paper>
    </main>
</Page>

<style>
    ul {
        list-style-type: none;
        padding: unset;
    }
    li {
        margin: 2px;
    }
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .contents {
        max-width: 1024px;
        padding: 0 20px;
    }
    .title {
        font-size: 115%;
        margin-left: 12px;
        margin-right: 12px;
    }
    a, a:visited {
        color: #353535;
    }
    a:hover,
    a:focus,
    a:active {
        color: #090909;
    }
</style>

<style is:global>
    @media (max-width: 800px) {
        #sidebar {
            display: none;
        }
    }
</style>