---
import Base from "@templates/zh/Base.astro";
import Bar from "@templates/zh/Bar.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";

import { getCollection } from "astro:content";
import { formatPostDate } from "../scripts/date";
import Paper from "@/components/Paper.astro";

const posts = (
    await getCollection("blog", (entry) => !entry.slug.includes("_"))
).sort((a, b) => b.data.date?.valueOf() || 0 - a.data.date?.valueOf() || 0);

// console.log(posts);
---

<Base title="新世界的大门">
    <Bar index={0} />
    <main>
        <Sidebar />
        <Paper>
            <section class="contents">
                <ul>
                    {posts.map((post) => (
                        <li>
                            <div class="title">
                                <span>{formatPostDate(post.data.date)}</span>
                                <a href={`/${post.slug}/`}>{post.data.title || "No title"}</a>
                            </div>
                            <!-- <div class="desc">
                            {post.data.desc || "No description"}
                            </div> -->
                        </li>
                    ))}
                </ul>
            </section>
        </Paper>
    </main>
</Base>

<style>
    ul {
        list-style-type: none;
        padding: unset;
    }
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
    .contents {
        max-width: 1000px;
        padding: 0 20px;
    }
    .title {
        font-size: 120%;
    }
    a, a:visited {
        color: #353535;
    }
    a:hover,
    a:focus,
    a:active {
        color: #090909;
    }
</style>
