---
import Base from "@templates/zh/Base.astro";
import Bar from "@templates/zh/Bar.astro";
import Logo from "@components/Logo.astro";
---

<Base title="新世界的大门">
  <div class="center">
    <Logo />
  </div>
  <Bar index={0} />
</Base>

<style>
  .center {
    text-align: center;
    vertical-align: center;
  }
</style>
