.DS_Store
Thumbs.db
db.json
*.log
node_modules/
.deploy*/
_multiconfig.yml
themes
*.svg
pnpm-lock.yaml
public/*
dist/*
source/2022/apple-music.html
source/2022/apple-music.md
source/_drafts/*.md
source/playground/index.md
