---
import "@/styles/manchu.less";
import '@fontsource/noto-sans-mongolian';
---

<script
    src="https://paulirish.github.io/lite-youtube-embed/src/lite-yt-embed.js"
></script>
<link
    rel="stylesheet"
    href="https://paulirish.github.io/lite-youtube-embed/src/lite-yt-embed.css"
/>
<div class="yt">
    <lite-youtube videoid="DlETvAfOMbk"></lite-youtube>
</div>

<div class="mnc-area">
    <div lang="mnc">саосаасаиса╡сбасб│ саосаасб╢саасб╡сб│сб│ саасбйсаасапсб│</div>
    <div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
    <div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
    <br />
    <div lang="mnc">саосбаса░сбЭ са░сааса░саа сбдсаасаксбисаасаосаксб│</div>
    <div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
    <div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
    <br />
    <div lang="mnc">сагсб│сапсагсбесагсаи сбйсаасаксбйсбасб╡сб│ са╡саасапсаасаи сбйсбЭ</div>
    <div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
    <div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
    <br />
    <div lang="mnc">са░сб│саисб│ саксбаса╢саа саксбЭса╢сбЭ саксб│</div>
    <div lang="ja">уБВуБкуБЯуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
    <div lang="zh">цЬЙф╜ац╕║х░ПчЪДш║лх╜▒</div>
    <br />
    <div lang="mnc">саосаасаиса╡сбасб│ саосаасб╢саасб╡сб│сб│ саасбйсаасапсб│</div>
    <div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
    <div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
    <br />
    <div lang="mnc">саосбаса░сбЭ са░сааса░саа сбдсаасаксбисаасаосаксб│</div>
    <div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
    <div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
    <br />
    <div lang="mnc">сагсб│сапсагсбесагсаи сбйсаасаксбйсбасб╡сб│ са╡саасапсаасаи сбйсбЭ</div>
    <div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
    <div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
    <br />
    <div lang="mnc">саосб│саисб│ саксбаса╢саа саксбЭса╢сбЭ саксб│</div>
    <div lang="ja">хГХуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
    <div lang="zh">цЬЙцИСц╕║х░ПчЪДш║лх╜▒</div>
    <br />
    <div lang="mnc">са░сб│саисб│ саксбЭсб╡сб│ сбйсбЭ сбасапсб│ саксбЭ сбисбЭсаксбасбесбЭсаг?</div>
    <div lang="ja">уБВуБкуБЯуБоуААх╝УуБпуААх╝╡уБгуБжуБДуВЛуБЛя╝Я</div>
    <div lang="zh">ф╜ачЪДх╝Уф╕Кх╝жф║ЖхРЧя╝Я</div>
    <br />
    <div lang="mnc">са░сб│саосбесбасаи сбйсбЭ сб╢сбЭсб╡сбдсбЭсбисбасаи саксбЭ сбЭсбисбасбесбЭсаг?</div>
    <div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛуБЛя╝Я</div>
    <div lang="zh">цЙ│цМЗцИ┤хЬицЛЗцМЗф╕Кф║ЖхРЧя╝Я</div>
    <br />
    <div lang="mnc">са░сб│саисб│ са░сб│сб╡сбйсаасаи саксбЭ сбдсаасаксбисаасбесаасаг?</div>
    <div lang="ja">уБВуБкуБЯуБоуААчЯвуААуВТуААцФ╛уБгуБЯуБЛя╝Я</div>
    <div lang="zh">ф╜ачЪДчонх░ДхЗ║ф║ЖхРЧя╝Я</div>
    <br />
    <div lang="mnc">сбесагсб│сбесаасаи са╢саа саксаа сбйсбЭ саксб│саисб│?</div>
    <div lang="ja">хЫ▓ха┤уБпуААуБйуБУя╝Я</div>
    <div lang="zh">хЫ┤хЬ║хЬихУкщЗМхСвя╝Я</div>
    <br />
    <div lang="mnc">саосб│саисб│ саксбЭсб╡сб│ сбйсбЭ сбасапсб│ саксбЭ сбисбЭсаксбасбесбЭсаксб│</div>
    <div lang="ja">чзБуБоуААх╝УуБпуААх╝╡уВЙуВМуБжуБДуВЛ</div>
    <div lang="zh">цИСчЪДх╝Ух╖▓ф╕Кх╝ж</div>
    <br />
    <div lang="mnc">са░сб│саосбесбасаи сбйсбЭ сб╢сбЭсб╡сбдсбЭсбисбасаи саксбЭ сбЭсбисбасбесбЭсаксб│</div>
    <div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛ</div>
    <div lang="zh">цЙ│цМЗх╖▓цИ┤хЬицЛЗцМЗ</div>
    <br />
    <div lang="mnc">саосб│саисб│ са░сб│сб╡сбйсаасаи саксбЭ сбдсаасаксбисаасбесаасаксб│</div>
    <div lang="ja">хГХуБоуААчЯвуААуВТуААцФ╛уБгуБЯ</div>
    <div lang="zh">цИСчЪДчонх╖▓х░ДхЗ║</div>
    <br />
    <div lang="mnc">сбесагсб│сбесаасаи са╢саа саксаа сбйсбЭ саксб│саисб│?</div>
    <div lang="ja">хЫ▓ха┤уБпуААуБйуБУя╝Я</div>
    <div lang="zh">хЫ┤хЬ║хЬихУкщЗМхСвя╝Я</div>
    <br />
    <div lang="mnc">саосбаса░сбЭ са░сааса░саа сбдсаасаксбисааса┤сб│саисаа сбдсаасаксбисааса┤сб│саисаа</div>
    <div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВНуБЖуААх╝УуВТх░ДуВНуБЖ</div>
    <div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРзуАБх░ДчонхРз</div>
    <br />
    <div lang="mnc">саосбаса░сбЭ са░сааса░саа сбдсаасаксбисааса┤сб│саисаа сбдсаасаксбисааса┤сб│саисаа</div>
    <div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВНуБЖуААх╝УуВТх░ДуВНуБЖ</div>
    <div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРзуАБх░ДчонхРз</div>
    <br />
    <div lang="mnc">саосаасаиса╡сбасб│ саосаасб╢саасб╡сб│сб│ саасбйсаасапсб│</div>
    <div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
    <div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
    <br />
    <div lang="mnc">саосбаса░сбЭ са░сааса░саа сбдсаасаксбисаасаосаксб│</div>
    <div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
    <div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
    <br />
    <div lang="mnc">сагсб│сапсагсбесагсаи сбйсаасаксбйсбасб╡сб│ са╡саасапсаасаи сбйсбЭ</div>
    <div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
    <div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
    <br />
    <div lang="mnc">са░сб│саисб│ саксбаса╢саа саксбЭса╢сбЭ саксб│</div>
    <div lang="ja">уБВуБкуБЯуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
    <div lang="zh">цЬЙф╜ац╕║х░ПчЪДш║лх╜▒</div>
    <br />
    <div lang="mnc">саосаасаиса╡сбасб│ саосаасб╢саасб╡сб│сб│ саасбйсаасапсб│</div>
    <div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
    <div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
    <br />
    <div lang="mnc">саосбаса░сбЭ са░сааса░саа сбдсаасаксбисаасаосаксб│</div>
    <div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
    <div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
    <br />
    <div lang="mnc">сагсб│сапсагсбесагсаи сбйсаасаксбйсбасб╡сб│ са╡саасапсаасаи сбйсбЭ</div>
    <div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
    <div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
    <br />
    <div lang="mnc">саосб│саисб│ саксбаса╢саа саксбЭса╢сбЭ саксб│</div>
    <div lang="ja">хГХуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
    <div lang="zh">цЬЙцИСц╕║х░ПчЪДш║лх╜▒</div>
    <br />
    <div lang="mnc">са░сб│саисб│ саксбЭсб╡сб│ сбйсбЭ сбасапсб│ саксбЭ сбисбЭсаксбасбесбЭсаг?</div>
    <div lang="ja">уБВуБкуБЯуБоуААх╝УуБпуААх╝╡уБгуБжуБДуВЛуБЛя╝Я</div>
    <div lang="zh">ф╜ачЪДх╝Уф╕Кх╝жф║ЖхРЧя╝Я</div>
    <br />
    <div lang="mnc">са░сб│саосбесбасаи сбйсбЭ сб╢сбЭсб╡сбдсбЭсбисбасаи саксбЭ сбЭсбисбасбесбЭсаг?</div>
    <div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛуБЛя╝Я</div>
    <div lang="zh">цЙ│цМЗцИ┤хЬицЛЗцМЗф╕Кф║ЖхРЧя╝Я</div>
    <br />
    <div lang="mnc">са░сб│саисб│ са░сб│сб╡сбйсаасаи саксбЭ сбдсаасаксбисаасбесаасаг?</div>
    <div lang="ja">уБВуБкуБЯуБоуААчЯвуААуВТуААцФ╛уБгуБЯуБЛя╝Я</div>
    <div lang="zh">ф╜ачЪДчонх░ДхЗ║ф║ЖхРЧя╝Я</div>
    <br />
    <div lang="mnc">сбесагсб│сбесаасаи сбисбасаксаа сбйсбЭ саксб│саисб│</div>
    <div lang="ja">хЫ▓ха┤уБпуААуБВуБЭуБУуААуБа</div>
    <div lang="zh">хЫ┤хЬ║хЬищВгщЗМ</div>
    <br />
    <div lang="mnc">саосб│саисб│ саксбЭсб╡сб│ сбйсбЭ сбасапсб│ саксбЭ сбисбЭсаксбасбесбЭсаксб│</div>
    <div lang="ja">чзБуБоуААх╝УуБпуААх╝╡уВЙуВМуБжуБДуВЛ</div>
    <div lang="zh">цИСчЪДх╝Ух╖▓ф╕Кх╝ж</div>
    <br />
    <div lang="mnc">са░сб│саосбесбасаи сбйсбЭ сб╢сбЭсб╡сбдсбЭсбисбасаи саксбЭ сбЭсбисбасбесбЭсаксб│</div>
    <div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛ</div>
    <div lang="zh">цЙ│цМЗх╖▓цИ┤хЬицЛЗцМЗ</div>
    <br />
    <div lang="mnc">саосб│саисб│ са░сб│сб╡сбйсаасаи саксбЭ сбдсаасаксбисаасбесаасаксб│</div>
    <div lang="ja">хГХуБоуААчЯвуААуВТуААцФ╛уБгуБЯ</div>
    <div lang="zh">цИСчЪДчонх╖▓х░ДхЗ║</div>
    <br />
    <div lang="mnc">сбесагсб│сбесаасаи сбисбасаксаа сбйсбЭ саксб│саисб│</div>
    <div lang="ja">хЫ▓ха┤уБпуААуБВуБЭуБУуААуБа</div>
    <div lang="zh">хЫ┤хЬ║хЬищВгщЗМ</div>
    <br />
    <div lang="mnc">саосбаса░сбЭ са░сааса░саа сбдсаасаксбисааса┤сб│саисаа сбдсаасаксбисааса┤сб│саисаа</div>
    <div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВНуБЖуААх╝УуВТх░ДуВНуБЖ</div>
    <div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРзуАБх░ДчонхРз</div>
    <br />
    <div lang="mnc">саосбаса░сбЭ са░сааса░саа сбдсаасаксбисааса┤сб│саисаа сбдсаасаксбисааса┤сб│саисаа</div>
    <div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВНуБЖуААх╝УуВТх░ДуВНуБЖ</div>
    <div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРзуАБх░ДчонхРз</div>
    <br />
    <div lang="mnc">са░сб│саисб│ саксбЭсб╡сб│ сбйсбЭ сбасапсб│ саксбЭ сбисбЭсаксбасбесбЭсаксб│</div>
    <div lang="ja">уБВуБкуБЯуБоуААх╝УуБпуААх╝╡уВЙуВМуБжуБДуВЛ</div>
    <div lang="zh">ф╜ачЪДх╝Ух╖▓ф╕Кх╝ж</div>
    <br />
    <div lang="mnc">са░сб│саосбесбасаи сбйсбЭ сб╢сбЭсб╡сбдсбЭсбисбасаи саксбЭ сбЭсбисбасбесбЭсаксб│</div>
    <div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛ</div>
    <div lang="zh">цЙ│цМЗх╖▓цИ┤хЬицЛЗцМЗ</div>
    <br />
    <div lang="mnc">са░сб│саисб│ са░сб│сб╡сбйсаасаи саксбЭ сбдсаасаксбисаасбесаасаксб│</div>
    <div lang="ja">уБВуБкуБЯуБоуААчЯвуААуВТуААцФ╛уБгуБЯ</div>
    <div lang="zh">ф╜ачЪДчонх╖▓х░ДхЗ║</div>
    <br />
    <div lang="mnc">сбесагсб│сбесаасаи са╢саа саксаа сбйсбЭ саксб│саисб│?</div>
    <div lang="ja">хЫ▓ха┤уБпуААуБйуБУя╝Я</div>
    <div lang="zh">хЫ┤хЬ║хЬихУкщЗМхСвя╝Я</div>
    <br />
    <div lang="mnc">саосб│саисб│ саксбЭсб╡сб│ сбйсбЭ сбасапсб│ саксбЭ сбисбЭсаксбасбесбЭсаксб│</div>
    <div lang="ja">чзБуБоуААх╝УуБпуААх╝╡уВЙуВМуБжуБДуВЛ</div>
    <div lang="zh">цИСчЪДх╝Ух╖▓ф╕Кх╝ж</div>
    <br />
    <div lang="mnc">са░сб│саосбесбасаи сбйсбЭ сб╢сбЭсб╡сбдсбЭсбисбасаи саксбЭ сбЭсбисбасбесбЭсаксб│</div>
    <div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛ</div>
    <div lang="zh">цЙ│цМЗх╖▓цИ┤хЬицЛЗцМЗ</div>
    <br />
    <div lang="mnc">саосб│саисб│ са░сб│сб╡сбйсаасаи саксбЭ сбдсаасаксбисаасбесаасаксб│</div>
    <div lang="ja">хГХуБоуААчЯвуААуВТуААцФ╛уБгуБЯ</div>
    <div lang="zh">цИСчЪДчонх╖▓х░ДхЗ║</div>
    <br />
    <div lang="mnc">сбесагсб│сбесаасаи са╢саа саксаа сбйсбЭ саксб│саисб│?</div>
    <div lang="ja">хЫ▓ха┤уБпуААуБйуБУя╝Я</div>
    <div lang="zh">хЫ┤хЬ║хЬихУкщЗМхСвя╝Я</div>
    <br />
    <div lang="mnc">саосаасаиса╡сбасб│ саосаасб╢саасб╡сб│сб│ саасбйсаасапсб│</div>
    <div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
    <div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
    <br />
    <div lang="mnc">саосбаса░сбЭ са░сааса░саа сбдсаасаксбисаасаосаксб│</div>
    <div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
    <div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
    <br />
    <div lang="mnc">сагсб│сапсагсбесагсаи сбйсаасаксбйсбасб╡сб│ са╡саасапсаасаи сбйсбЭ</div>
    <div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
    <div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
    <br />
    <div lang="mnc">са░сб│саисб│ саксбаса╢саа саксбЭса╢сбЭ саксб│</div>
    <div lang="ja">уБВуБкуБЯуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
    <div lang="zh">цЬЙф╜ац╕║х░ПчЪДш║лх╜▒</div>
    <br />
    <div lang="mnc">са░сб│саисб│ саксбаса╢саа саксбЭса╢сбЭ саксб│</div>
    <div lang="ja">уБВуБкуБЯуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
    <div lang="zh">цЬЙф╜ац╕║х░ПчЪДш║лх╜▒</div>
    <br />
</div>

<img
    src="https://user-images.githubusercontent.com/20166026/209539033-4c6105be-6c31-4232-9651-52f6c355da86.jpg"
/>

<h2>чйЖщ║Ях╛╖ш╜мхЖЩ</h2>

<div lang="m├╢">manju-i mafari-i adali</div>
<div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
<div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
<br />
<div lang="m├╢">muse sasa gabtambi</div>
<div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
<div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
<br />
<div lang="m├╢">oilohon dabduri jalan de</div>
<div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
<div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
<br />
<div lang="m├╢">sini buya beye bi</div>
<div lang="ja">уБВуБкуБЯуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
<div lang="zh">цЬЙф╜ац╕║х░ПчЪДш║лх╜▒</div>
<br />
<div lang="m├╢">manju-i mafari-i adali</div>
<div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
<div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
<br />
<div lang="m├╢">muse sasa gabtambi</div>
<div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
<div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
<br />
<div lang="m├╢">oilohon dabduri jalan de</div>
<div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
<div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
<br />
<div lang="m├╢">mini buya beye bi</div>
<div lang="ja">хГХуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
<div lang="zh">цЬЙцИСц╕║х░ПчЪДш║лх╜▒</div>
<br />
<div lang="m├╢">sini beri de uli be tebuheo?</div>
<div lang="ja">уБВуБкуБЯуБоуААх╝УуБпуААх╝╡уБгуБжуБДуВЛуБЛя╝Я</div>
<div lang="zh">ф╜ачЪДх╝Уф╕Кх╝жф║ЖхРЧя╝Я</div>
<br />
<div lang="m├╢">simhun de fergetun be etuheo?</div>
<div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛуБЛя╝Я</div>
<div lang="zh">цЙ│цМЗцИ┤хЬицЛЗцМЗф╕Кф║ЖхРЧя╝Я</div>
<br />
<div lang="m├╢">sini sirdan be gabtahao?</div>
<div lang="ja">уБВуБкуБЯуБоуААчЯвуААуВТуААцФ╛уБгуБЯуБЛя╝Я</div>
<div lang="zh">ф╜ачЪДчонх░ДхЗ║ф║ЖхРЧя╝Я</div>
<br />
<div lang="m├╢">hoihan ya ba de bini?</div>
<div lang="ja">хЫ▓ха┤уБпуААуБйуБУя╝Я</div>
<div lang="zh">хЫ┤хЬ║хЬихУкщЗМхСвя╝Я</div>
<br />
<div lang="m├╢">mini beri de uli be tebuhebi</div>
<div lang="ja">чзБуБоуААх╝УуБпуААх╝╡уВЙуВМуБжуБДуВЛ</div>
<div lang="zh">цИСчЪДх╝Ух╖▓ф╕Кх╝ж</div>
<br />
<div lang="m├╢">simhun de fergetun be etuhebi</div>
<div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛ</div>
<div lang="zh">цЙ│цМЗх╖▓цИ┤хЬицЛЗцМЗ</div>
<br />
<div lang="m├╢">mini sirdan be gabtahabi</div>
<div lang="ja">хГХуБоуААчЯвуААуВТуААцФ╛уБгуБЯ</div>
<div lang="zh">цИСчЪДчонх╖▓х░ДхЗ║</div>
<br />
<div lang="m├╢">hoihan ya ba de bini?</div>
<div lang="ja">хЫ▓ха┤уБпуААуБйуБУя╝Я</div>
<div lang="zh">хЫ┤хЬ║хЬихУкщЗМхСвя╝Я</div>
<br />
<div lang="m├╢">muse sasa gabtacina gabtacina</div>
<div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВНуБЖуААх╝УуВТх░ДуВНуБЖ</div>
<div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРзуАБх░ДчонхРз</div>
<br />
<div lang="m├╢">muse sasa gabtacina gabtacina</div>
<div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВНуБЖуААх╝УуВТх░ДуВНуБЖ</div>
<div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРзуАБх░ДчонхРз</div>
<br />
<div lang="m├╢">manju-i mafari-i adali</div>
<div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
<div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
<br />
<div lang="m├╢">muse sasa gabtambi</div>
<div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
<div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
<br />
<div lang="m├╢">oilohon dabduri jalan de</div>
<div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
<div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
<br />
<div lang="m├╢">sini buya beye bi</div>
<div lang="ja">уБВуБкуБЯуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
<div lang="zh">цЬЙф╜ац╕║х░ПчЪДш║лх╜▒</div>
<br />
<div lang="m├╢">manju-i mafari-i adali</div>
<div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
<div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
<br />
<div lang="m├╢">muse sasa gabtambi</div>
<div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
<div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
<br />
<div lang="m├╢">oilohon dabduri jalan de</div>
<div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
<div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
<br />
<div lang="m├╢">mini buya beye bi</div>
<div lang="ja">хГХуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
<div lang="zh">цЬЙцИСц╕║х░ПчЪДш║лх╜▒</div>
<br />
<div lang="m├╢">sini beri de uli be tebuheo?</div>
<div lang="ja">уБВуБкуБЯуБоуААх╝УуБпуААх╝╡уБгуБжуБДуВЛуБЛя╝Я</div>
<div lang="zh">ф╜ачЪДх╝Уф╕Кх╝жф║ЖхРЧя╝Я</div>
<br />
<div lang="m├╢">simhun de fergetun be etuheo?</div>
<div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛуБЛя╝Я</div>
<div lang="zh">цЙ│цМЗцИ┤хЬицЛЗцМЗф╕Кф║ЖхРЧя╝Я</div>
<br />
<div lang="m├╢">sini sirdan be gabtahao?</div>
<div lang="ja">уБВуБкуБЯуБоуААчЯвуААуВТуААцФ╛уБгуБЯуБЛя╝Я</div>
<div lang="zh">ф╜ачЪДчонх░ДхЗ║ф║ЖхРЧя╝Я</div>
<br />
<div lang="m├╢">hoihan tuba de bini</div>
<div lang="ja">хЫ▓ха┤уБпуААуБВуБЭуБУуААуБа</div>
<div lang="zh">хЫ┤хЬ║хЬищВгщЗМ</div>
<br />
<div lang="m├╢">mini beri de uli be tebuhebi</div>
<div lang="ja">чзБуБоуААх╝УуБпуААх╝╡уВЙуВМуБжуБДуВЛ</div>
<div lang="zh">цИСчЪДх╝Ух╖▓ф╕Кх╝ж</div>
<br />
<div lang="m├╢">simhun de fergetun be etuhebi</div>
<div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛ</div>
<div lang="zh">цЙ│цМЗх╖▓цИ┤хЬицЛЗцМЗ</div>
<br />
<div lang="m├╢">mini sirdan be gabtahabi</div>
<div lang="ja">хГХуБоуААчЯвуААуВТуААцФ╛уБгуБЯ</div>
<div lang="zh">цИСчЪДчонх╖▓х░ДхЗ║</div>
<br />
<div lang="m├╢">hoihan tuba de bini</div>
<div lang="ja">хЫ▓ха┤уБпуААуБВуБЭуБУуААуБа</div>
<div lang="zh">хЫ┤хЬ║хЬищВгщЗМ</div>
<br />
<div lang="m├╢">muse sasa gabtacina gabtacina</div>
<div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВНуБЖуААх╝УуВТх░ДуВНуБЖ</div>
<div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРзуАБх░ДчонхРз</div>
<br />
<div lang="m├╢">muse sasa gabtacina gabtacina</div>
<div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВНуБЖуААх╝УуВТх░ДуВНуБЖ</div>
<div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРзуАБх░ДчонхРз</div>
<br />
<div lang="m├╢">sini beri de uli be tebuhebi</div>
<div lang="ja">уБВуБкуБЯуБоуААх╝УуБпуААх╝╡уВЙуВМуБжуБДуВЛ</div>
<div lang="zh">ф╜ачЪДх╝Ух╖▓ф╕Кх╝ж</div>
<br />
<div lang="m├╢">simhun de fergetun be etuhebi</div>
<div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛ</div>
<div lang="zh">цЙ│цМЗх╖▓цИ┤хЬицЛЗцМЗ</div>
<br />
<div lang="m├╢">sini sirdan be gabtahabi</div>
<div lang="ja">уБВуБкуБЯуБоуААчЯвуААуВТуААцФ╛уБгуБЯ</div>
<div lang="zh">ф╜ачЪДчонх╖▓х░ДхЗ║</div>
<br />
<div lang="m├╢">hoihan ya ba de bini?</div>
<div lang="ja">хЫ▓ха┤уБпуААуБйуБУя╝Я</div>
<div lang="zh">хЫ┤хЬ║хЬихУкщЗМхСвя╝Я</div>
<br />
<div lang="m├╢">mini beri de uli be tebuhebi</div>
<div lang="ja">чзБуБоуААх╝УуБпуААх╝╡уВЙуВМуБжуБДуВЛ</div>
<div lang="zh">цИСчЪДх╝Ух╖▓ф╕Кх╝ж</div>
<br />
<div lang="m├╢">simhun de fergetun be etuhebi</div>
<div lang="ja">шжкцМЗуААуБлуААцРмцМЗуААуВТуААцОЫуБСуБжуБДуВЛ</div>
<div lang="zh">цЙ│цМЗх╖▓цИ┤хЬицЛЗцМЗ</div>
<br />
<div lang="m├╢">mini sirdan be gabtahabi</div>
<div lang="ja">хГХуБоуААчЯвуААуВТуААцФ╛уБгуБЯ</div>
<div lang="zh">цИСчЪДчонх╖▓х░ДхЗ║</div>
<br />
<div lang="m├╢">hoihan ya ba de bini?</div>
<div lang="ja">хЫ▓ха┤уБпуААуБйуБУя╝Я</div>
<div lang="zh">хЫ┤хЬ║хЬихУкщЗМхСвя╝Я</div>
<br />
<div lang="m├╢">manju-i mafari-i adali</div>
<div lang="ja">ц║Ац┤▓уБоуААчеЦхЕИуБоуААуВИуБЖуБл</div>
<div lang="zh">хГПц╗бц┤▓чЪДхЕИц░Сф╗мф╕Аца╖</div>
<br />
<div lang="m├╢">muse sasa gabtambi</div>
<div lang="ja">хГХщБФуААф╕Ач╖ТуБлуААх╝УуВТх░ДуВИуБЖ</div>
<div lang="zh">хТ▒ф╗мф╕Аш╡╖х░ДчонхРз</div>
<br />
<div lang="m├╢">oilohon dabduri jalan de</div>
<div lang="ja">ш╗╜шЦДуБкуААф╕ЦчХМуБоф╕нуААуБз</div>
<div lang="zh">хЬиц╡ош║БчЪДф║║ф╕ЦщЧ┤</div>
<br />
<div lang="m├╢">sini buya beye bi</div>
<div lang="ja">уБВуБкуБЯуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
<div lang="zh">цЬЙф╜ац╕║х░ПчЪДш║лх╜▒</div>
<br />
<div lang="m├╢">sini buya beye bi</div>
<div lang="ja">уБВуБкуБЯуБоуААх░ПуБХуБкуААхз┐уБМуААуБВуВЛ</div>
<div lang="zh">цЬЙф╜ац╕║х░ПчЪДш║лх╜▒ЁЯП╣</div>
<br />
<style>
    br {
        user-select: none;
        font-size: 75%;
    }
    lite-youtube {
        margin: auto;
    }
</style>

<img
    src="https://user-images.githubusercontent.com/20166026/209537003-3ae8b85c-3177-4757-aaff-2af9b01ffa73.png"
    width="400px"
/>
