---
export interface Props {
  index?: number;
  transparent?: boolean;
  lang: "zh-Hans" | "zh-Hant" | "en";
}

import Logo from "@components/Logo.astro";
import slogans from "@scripts/slogans.ts";
import { pick } from "@/scripts/serendipity";

const items = [
  ["主页", "Home", "/"],
  ["归档", "Archives", "/archives"],
  ["友链", "Friends", "/friends"],
  ["订阅", "RSS", "/atom.xml"],
  ["关于", "About", "/about"],
];
let { index, transparent, lang } = Astro.props;

const slogan = pick(slogans)[lang || "zh-Hans"];

transparent = true;
---

<div class:list={[{ bar: !transparent }]} id="logo">
  <Logo theme={transparent ? "transparent" : "dark"} />
</div>
<div id="slogan" set:text={slogan} />
<ol>
  {
    items.map((item, i) => (
      <li>
        <a
          href={item[2]}
          data-replace={index === i ? "本页" : item[0]}
          class={index === i ? "current" : ""}
        >
          <span>
            &nbsp;
            <span>{item[0]}</span>
            <span class="en" lang="en">
              / {item[1]}
            </span>
            &nbsp;
          </span>
        </a>
      </li>
    ))
  }
</ol>

<style>
  @media only screen and (max-width: 800px) {
    span.en {
      display: none !important;
    }
  }
  @media only screen and (max-width: 800px) {
    #slogan {
      display: none;
    }
  }
  * {
    user-select: none;
  }
  #slogan {
    margin: 8px 0;
    color: #3c3c3c;
  }
  #logo,
  #slogan,
  ol {
    text-align: center;
    place-items: center center;
  }
  #logo {
    padding: 2px;
    margin: 1rem auto 0.2rem;
    height: 75px;
  }
  #logo.bar {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      202deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 5%,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(255, 255, 255, 1) 95%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  ol {
    font-size: 18px;
    margin: 0.3rem 0 0.6rem auto;
    margin-block-start: auto;
    margin-block-end: auto;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
  }
  li {
    display: inline-block;
    text-align: center;
    margin-inline-start: 0.3em;
    margin-inline-end: 0.3em;
    font-weight: 700;
  }
  a {
    line-height: 200%;
    overflow-x: hidden;
    position: relative;
    display: inline-block;
  }
  a.current {
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    color: #000000;
  }
  a::before,
  a::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
  }
  a::before {
    background-color: var(--accent-color);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: var(--accent-color);
  }
  a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  a span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  a {
    text-decoration: none;
    color: #434343;
  }
</style>
