---
import Page from "@templates/zh/Page.astro";
import Sidebar from "@/components/sidebar/Index.astro";
import Paper from "@/components/Paper.astro";
import "modern-css-reset";
import type { OpenGraphData } from "@/scripts/open-graph";
import Bar from "./Bar.astro";
import Han from "@/components/Han.astro";

export interface Props {
  title: string;
  bar?: {
    index?: number;
    transparent?: boolean;
  };
  og?: OpenGraphData;
}

const { title, bar, og } = Astro.props;
Astro.locals.noscript = true;
---

<Page title={title} og={og}>
  <Bar {...bar} lang="zh-Hans" />
  <Han hant={false} />
  <main>
    <Sidebar />
    <Paper transitionName="main">
      <section class="inhalt">
        <slot />
      </section>
    </Paper>
  </main>
</Page>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .inhalt {
    max-inline-size: 850px;
    inline-size: 100vi;
    padding: 0;
    padding-inline: 0.75rem;
  }
</style>

<style is:global>
  @container html (max-inline-size: 1100px) {
    main {
      flex-direction: column-reverse;
    }
    aside#sidebar {
      max-inline-size: 700px !important;
      flex-direction: column-reverse !important;
    }
    aside#sidebar .paper {
      max-inline-size: 700px !important;
    }
  }

  @container html (min-inline-size: 1100px) {
    .inhalt {
      min-inline-size: 700px !important;
    }
    main {
      flex-direction: row;
    }
    aside#sidebar {
      align-self: flex-start;
      inset-block-start: 50px;
    }
  }
</style>
