---
export interface Props {
  value: number;
}

const { value } = Astro.props;

function emoji(value: number) {
  if (value >= 99) return "💯";
  else if (value >= 90) return "🤩";
  else if (value >= 85) return "🥰";
  else if (value >= 80) return "😘";
  else if (value >= 70) return "😋";
  else if (value >= 60) return "🤔";
  else if (value >= 50) return "😔";
  else if (value >= 40) return "😒";
  else if (value >= 30) return "🤬";
  else if (value >= 20) return "🤮";
  else if (value >= 10) return "🚮";
  return "🤯";
}
---

<b>
  <span class="emoji" set:html={emoji(value)} />
  <span class="int">{Math.trunc(value / 10)}</span><span>.</span><span
    class="float">{Math.round(value % 10)}</span
  >
</b>

<style>
  span.int {
    font-size: 180%;
  }
  span.emoji {
    font-size: 160%;
  }
  span.float {
    font-size: 135%;
  }
  span {
    font-size: 140%;
    font-family: monospace;
  }
</style>
