---
import { Icon } from "astro-icon/components";
import Flip from "../Flip.astro";
import "@/styles/icon.less";
---

<div>
    <span class="icon">
        <Icon name="noscript" />
    </span>
    本页不含 JavaScript
</div>
