p {
  code {
    color: #0b8e0b;
    background-color: #24f7241d !important;
  }

  samp {
    color: #c7254e;
    background-color: #f8246025 !important;
  }
}

.api {
  @apply rounded-full bg-blue-200 p-inline-2;
  background-color: light-dark(rgb(191, 219, 254), rgba(22, 45, 104));
}
