@font-face {
    font-family: 'Departure Mono';
    src: url('https://cdn.jsdelivr.net/gh/OverflowCat/blog@test_a/font/departure-mono/DepartureMono-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/OverflowCat/blog@test_a/font/departure-mono/DepartureMono-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/OverflowCat/blog@test_a/font/departure-mono/DepartureMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fusion Pixel P 12px SC";
    src        : url(/fonts/fusion-pixel-12px-proportional-zh_hans.woff2) format("woff2");
}

pre, code, samp, kbd, var, tt, time, .mono, .monospace {
    font-family: "Departure Mono", "Fusion Pixel P 12px SC", monospace!important;
}

body {
    color-scheme: light;
    background  : #ddd !important;
}

* {
    font-size  : 1rem;
    font-family: "Fusion Pixel P 12px SC", Arial !important;
}

*::before,
*::after {
    box-sizing: border-box;
}


.title-bar,
.window,
button,
input,
label,
option,
select,
table,
textarea,
ul.tree-view {
    font-family: "Pixelated MS Sans Serif", "Fusion Pixel P 12px SC", Arial !important;
    font-size  : 16px !important;
}

h1,
h1 * {
    font-size: 2.5rem !important;
}

h2,
h2 * {
    font-size: 2rem !important;
}

h3,
h3 * {
    font-size: 1.75rem !important;
}

h4,
h4 * {
    font-size: 1.5rem !important;
}

h5,
h5 * {
    font-size: 1.25rem !important;
}

html {
    scroll-behavior: smooth;
}

.title-bar-text {
    padding-left: 5px;
}

button:not([aria-label]) {
    height: 1.9em;
}