article#post details,
article#post> :not(div),
#comments {
  a {
    border-block-end: 2px solid var(--link-underline-color);
    color: var(--link-color);
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    overflow-wrap: break-word;

    &:hover {
      border-block-end-color: var(--link-underline-hover-color);
      color: var(--link-hover-color);
    }

    &:has(> img) {
      border: 0;
      color: inherit;
    }

    &[target="_blank"]:not(:has(img))::after {
      content: "↗";
      padding-left: 2px;
      padding-right: 2px;
      font-family: "Noto Sans", "PingFang SC", "Noto Sans CJK SC",
        "Noto Sans CJK TC", "Noto Sans CJK JP", "Calibri", "Segoe UI Symbol",
        "Segoe UI Emoji", ".LucidaGrandeUI-Bold", "Lucida Grande", "Segoe UI",
        "Arial", sans-serif;
    }
  }
}

figcaption a {
  color: inherit;
  text-decoration-color: var(--link-underline-color);
  text-decoration-skip-ink: all;
  transition: text-decoration-color 0.1s ease-in-out;

  &:hover {
    text-decoration-color: var(--link-underline-hover-color);
  }
}

article#post {

  h1, h2, h3, h4, h5, h6 {
    a.anchor {
      opacity: .5;
      text-decoration: none;
      border: none;
    }
  }

  a[href^="#"] {
    display: none;
    border: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    /*
    position: relative;
    &:hover a[href^="#"] {
      display: flex;
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      margin-left: -20px;
      }
    */
    &:hover a[href^="#"] {
      display: inline;
      margin-inline-start: 0.25em;
    }
  }
}