@font-face {
    font-family: cursive;
    src: local("Kaiti TC Regular"), local(STKaiTi-TC-Regular), local("Kaiti TC"),
        local("Kaiti SC"), local(STKaiti), local(BiauKai), local("標楷體"),
        local(DFKaiShu-SB-Estd-BF), local(Kaiti), local(DFKai-SB);
}

@font-face {
    unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734,
        U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23,
        U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F,
        U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
    font-family: "Han Kaiti";
    src: local("Kaiti TC Regular"), local(STKaiTi-TC-Regular), local("Kaiti TC"),
        local("Kaiti SC"), local(STKaiti), local(BiauKai), local("標楷體"),
        local(DFKaiShu-SB-Estd-BF), local(Kaiti), local(DFKai-SB);
}

@font-face {
    unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734,
        U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23,
        U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F,
        U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
    font-family: "Han Kaiti CNS";
    src: local(BiauKai), local("標楷體"), local(DFKaiShu-SB-Estd-BF),
        local("Kaiti TC Regular"), local(STKaiTi-TC-Regular), local("Kaiti TC");
}

@font-face {
    unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734,
        U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23,
        U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F,
        U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
    font-family: "Han Kaiti GB";
    src: local("Kaiti SC Regular"), local(STKaiTi-SC-Regular), local("Kaiti SC"),
        local(STKaiti), local(Kai), local(Kaiti), local(DFKai-SB);
}

@font-face {
    font-family: cursive;
    font-weight: 600;
    src: local("Kaiti TC Bold"), local(STKaiTi-TC-Bold), local("Kaiti SC Bold"),
        local(STKaiti-SC-Bold), local("Kaiti TC"), local("Kaiti SC");
}

@font-face {
    font-family: "Han Kaiti";
    font-weight: 600;
    src: local("Kaiti TC Bold"), local(STKaiTi-TC-Bold), local("Kaiti SC Bold"),
        local(STKaiti-SC-Bold), local("Kaiti TC"), local("Kaiti SC");
}

@font-face {
    font-family: "Han Kaiti CNS";
    font-weight: 600;
    src: local("Kaiti TC Bold"), local(STKaiTi-TC-Bold), local("Kaiti TC");
}

@font-face {
    font-family: "Han Kaiti GB";
    font-weight: 600;
    src: local("Kaiti SC Bold"), local(STKaiti-SC-Bold);
}

dfn:lang(ja),
dfn[lang="ja0"],
dfn:lang(zh),
dfn[lang="zh"]
{
    font-style: inherit;
    font-weight: bolder;
}

article {
    blockquote {
        &:not(:lang(zh)):not(:lang(ja)) {
            font-family: Georgia, "Times New Roman", "Han Kaiti", cursive, serif;
        }

        &:lang(ja) {
            font-family: "Yakumono Serif", "Numeral LF Serif", Georgia, "Times New Roman",
                cursive, serif;
        }

        &:lang(zh),
        &:lang(zh-Hant) {
            font-family: "Biaodian Pro Serif CNS", "Numeral LF Serif", Georgia,
                "Times New Roman", "Zhuyin Kaiti", "Han Kaiti", cursive, serif;
        }
    }

    address,
    cite:lang(ja),
    cite:lang(zh),
    i:lang(ja),
    i:lang(zh),
    var:lang(ja),
    var:lang(zh) {
        font-style: inherit;
    }

    pre {
        white-space: pre;
        word-wrap: normal;
    }

    em:lang(ja),
    em:lang(zh) {
        -moz-text-emphasis: filled circle;
        -webkit-text-emphasis: filled circle;
        text-emphasis: filled circle;
        border-bottom-width: 0;
        -moz-text-emphasis-position: under;
        -webkit-text-emphasis-position: under;
        text-emphasis-position: under;
        font-style: inherit;
        // border-bottom: 2px dotted;
        padding-bottom: 0.05em;
        border-bottom-width: -webkit-calc(0px);
        padding-bottom: -webkit-calc(0px);
        font-family: "Helvetica Neue", Helvetica, Arial, 'Han Heiti GB', sans-serif;
    }

    em:lang(ja) {
        -moz-text-emphasis: filled sesame;
        -webkit-text-emphasis: filled sesame;
        text-emphasis: filled sesame;
        -moz-text-emphasis-position: over;
        -webkit-text-emphasis-position: over;
        text-emphasis-position: over;
    }
}