@font-face {
    font-family: "IBM Plex Sans TC";
    src: url("https://cdn.jsdelivr.net/gh/OverflowCat/blog@test_a/tonsky/fonts/IBMPlexSansTC-Text.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans TC";
    src: url("https://cdn.jsdelivr.net/gh/OverflowCat/blog@test_a/tonsky/fonts/IBMPlexSansTC-Text.woff2") format("woff2");
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans TC";
    src: url("https://cdn.jsdelivr.net/gh/OverflowCat/blog@test_a/tonsky/fonts/IBMPlexSansTC-Medium.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans TC";
    src: url("https://cdn.jsdelivr.net/gh/OverflowCat/blog@test_a/tonsky/fonts/IBMPlexSansTC-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

article>p {
    text-autospace: no-autospace;
}

article>p:nth-of-type(odd) {
    font-weight: 600;
    line-height: 1.7;
    font-size: 1.2em;
    font-family: "IBM Plex Sans KR", "IBM Plex Sans TC", "IBM Plex Sans SC", "Noto Sans CJK KR", "Pingfang SC", sans-serif;
}

article>p:nth-of-type(even) {
    font-weight: 450;
    line-height: 1.7;
    font-size: 1.1em;
    font-family: "IBM Plex Sans", "IBM Plex Sans SC", "Noto Sans",
        "Noto Sans CJK SC", "HarmonyOS Sans SC", sans-serif !important;
}
