.mnc-area {
  writing-mode: vertical-lr;
  overflow-x: scroll;
  max-width: 100%;
  margin: 8px;
  padding: 4px;
  padding-top: 12px;
}

[lang="mnc"] {
  font-family: "Noto Sans Mongolian", "Mongolian Baiti", "Noto Sans CJK TC", "Noto Sans CJK SC", "Source Han Sans SC";
  writing-mode: vertical-lr;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "vert" 1;

  &:not(:has([lang^="zh"])) {
    // for the f*cking WebKit, where `writing-mode` alone won't work.
    // See https://github.com/w3c/mlreq/issues/39
    text-orientation: sideways;
  }

  [lang^="zh"] {
    writing-mode: unset;
  }
}

[lang="mö"] {
  font-family: monospace;
}

.mnc-large {
  font-size: 1.6em;
}
