pre > code {
  display: grid;
  font-size: 90%;
  line-height: 150%;
}

.highlighted {
  background-color: rgba(200, 200, 255, 0.1);
  border-left-color: #60a5fa;
  border-left-width: 3px;
  margin-left: -3px;
  border-left-style: solid;
}

.prose pre code {
  color: #1a202c;
}

[data-highlighted-chars] {
  border-radius: 0.2rem;
  background-color: #52525b12;
  box-shadow: 0 0 0 2px #52525b2f;
}

div[data-rehype-pretty-code-title] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0.375rem;
  background-color: #bee3f8;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  color: #4a5568;
}

@media (min-width: 1024px) {
  div[data-rehype-pretty-code-title] {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 640px) {
  div[data-rehype-pretty-code-fragment]
    figure[data-rehype-pretty-code-figure]
    .line {
    &::before {
      margin-right: 1.2rem;
    }
    padding-left: 1rem;
  }
}

span[data-rehype-pretty-code-figure] { // inline
}

figure[data-rehype-pretty-code-figure] { // block
  position: relative;
  margin: 1em -1em;
  blockquote & {
    margin: 1em 0;
  }
  padding: 0.2em 1em;
  width: 100%;
  border-radius: 0.375rem;
  background-color: #f2f9fce5;

  &:has([data-rehype-pretty-code-title]) {
    padding-top: 1.75rem;
  }

  @media (min-width: 1024px) {
    &:has([data-rehype-pretty-code-title]) {
      padding-top: 2.5rem;
    }
  }

  & > pre {
    text-align: left;
  }

  .highlighted {
    border-left-color: #4299e1;
    background-color: rgba(200, 200, 255, 0.2);
  }

  code {
    counter-reset: line;
  }

  // lineNumbers
  code[data-line-numbers] {
    counter-reset: line;
    & > .line::before {
      counter-increment: line;
      content: counter(line);
      margin-right: 1.5rem;
      display: inline-block;
      width: 24px;
      user-select: none;
      text-align: right;
      color: #a0aec0;
    }
  }

  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
  }

  .word {
    background-color: #90cdf4;
    color: #fff;
  }
}
