// https://codepen.io/alphardex/pen/dyPorwJ, modified at line 21~22

@use 'sass:math';

@function random_range($min, $max) {
  $rand: math.random();
  $random_range: $min + math.floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.main {
  filter: brightness(0.95) saturate(1.1);
    text-shadow:
    0 0 1px #fff,
    0 0 2px #ebebeb,
    0 0 3px #b9b9b9;
}

body {
  background-image: url("https://remnote-user-data.s3.amazonaws.com/2fkaCqjyo5c_vBnTuvfev6zA_CGNNwC8T06mm_dB1v6RtXUT8R8JABHzDjbwTaFgQrL7q_w82XqD9mW9aE8KP1ShiaP91UmkJPTxygfo-_uZzMlPaxl6ntrmzz4GZWym.jpeg")!important;
  background-blend-mode: luminosity;
  background-size: cover!important;
  background-attachment: fixed!important;
}

@container style(--dark-scheme) {
  body {
    background-image: url("https://remnote-user-data.s3.amazonaws.com/r_tz5f_Khz-iLtRyuF-Z2E2VPC7YNGgThKJt2NOBmJ_4y9C3aSF8RBrsQ9zCsY9q8_PbbNfrIrtP1pZtIA_mgAEVDDGt8tfgr5IHCUaS2lasVdXPXFRAyKVuoQaewrpj.jpeg")!important;
  }
}

.snow {
  $total: 200;
  position: fixed;
  width: 10px;
  height: 10px;
  z-index: 1111;
  background: white;
  // shadow
  box-shadow:
    0 0 5px 2px rgba(255, 255, 255, 0.8),
    0 0 10px 4px rgba(255, 255, 255, 0.6),
    0 0 15px 6px rgba(255, 255, 255, 0.4);
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: math.random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + calc($random-offset / 2);
    $random-yoyo-time: calc(random_range(30000, 80000) / 100000);
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: math.random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: math.random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: math.random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{math.percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}
