.tag-cloud {
  /* dont stretch aside */
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 0.15rem;
    padding: 0.17rem 0.17rem;
    display: inline-flex;
    align-items: center;
    border-radius: 0.37rem;
    color: var(--text-secondary);
    text-decoration: none;

    transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: var(--bg-secondary-hover);
    }
    &:active {
      background-color: var(----bg-secondary-active);
    }
  }
}
