.tag-cloud {
    /* dont stretch aside */
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

    a {
        margin: 0.1rem;
        padding: 0.2rem 0.2rem;
        display: inline-flex;
        align-items: center;
        border-radius: 0.4rem;
        background-color: #f4f4f4;
        color: #333;
        text-decoration: none;

        &:hover {
            background-color: #e7e7e7;
        }
    }
}