.title {
  font-size: 115%;
  color: var(--title-color);
  text-decoration: none;
  font-weight: 600;
  margin: 2px 4px;

  &-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
  }

  transition: color 0.2s ease-out;
  &:visited {
    color: var(--link-visited-color);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--logo-color);
  }
}
