---
export const partial = true;
---
<svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="500" width="850"
viewbox="0 0 850 500"
>
	<title>Roadmap to the Unicode BMP</title>
	<desc>This chart is a roadmap of character allocation for Unicode plane 0: Basic Multilingual Plane (BMP).  It was created on 2023-10-15 using Unicode 15.1 data.  Characters are categorized more-or-less by the chapters in The Unicode Standard.</desc>
	<defs>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad0" x1="94.375" x2="125.5">
			<stop offset="0%" stop-color="blue"/>
			<stop offset="100%" stop-color="blue"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad1" x1="156.625" x2="187.75">
			<stop offset="0%" stop-color="blue"/>
			<stop offset="56.25%" stop-color="blue"/>
			<stop offset="56.25%" stop-color="orange"/>
			<stop offset="100%" stop-color="orange"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad2" x1="156.625" x2="187.75">
			<stop offset="0%" stop-color="white"/>
			<stop offset="56.25%" stop-color="white"/>
			<stop offset="56.25%" stop-color="black"/>
			<stop offset="100%" stop-color="black"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad3" x1="218.875" x2="250">
			<stop offset="0%" stop-color="orange"/>
			<stop offset="50%" stop-color="orange"/>
			<stop offset="50%" stop-color="darkgreen"/>
			<stop offset="75%" stop-color="darkgreen"/>
			<stop offset="75%" stop-color="lightgreen"/>
			<stop offset="100%" stop-color="lightgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad4" x1="218.875" x2="250">
			<stop offset="0%" stop-color="black"/>
			<stop offset="50%" stop-color="black"/>
			<stop offset="50%" stop-color="white"/>
			<stop offset="75%" stop-color="white"/>
			<stop offset="75%" stop-color="black"/>
			<stop offset="100%" stop-color="black"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad5" x1="250" x2="281.125">
			<stop offset="0%" stop-color="orange"/>
			<stop offset="100%" stop-color="orange"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad6" x1="281.125" x2="312.25">
			<stop offset="0%" stop-color="darkgreen"/>
			<stop offset="100%" stop-color="darkgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad7" x1="436.75" x2="467.875">
			<stop offset="0%" stop-color="purple"/>
			<stop offset="100%" stop-color="purple"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad8" x1="467.875" x2="499">
			<stop offset="0%" stop-color="darkgreen"/>
			<stop offset="100%" stop-color="darkgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad9" x1="1" x2="32.125">
			<stop offset="0%" stop-color="purple"/>
			<stop offset="62.5%" stop-color="purple"/>
			<stop offset="62.5%" stop-color="blue"/>
			<stop offset="100%" stop-color="blue"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad10" x1="32.125" x2="63.25">
			<stop offset="0%" stop-color="crimson"/>
			<stop offset="100%" stop-color="crimson"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad11" x1="63.25" x2="94.375">
			<stop offset="0%" stop-color="lightgreen"/>
			<stop offset="100%" stop-color="lightgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad12" x1="94.375" x2="125.5">
			<stop offset="0%" stop-color="lightgreen"/>
			<stop offset="62.5%" stop-color="lightgreen"/>
			<stop offset="62.5%" stop-color="yellow"/>
			<stop offset="100%" stop-color="yellow"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad13" x1="187.75" x2="218.875">
			<stop offset="0%" stop-color="yellow"/>
			<stop offset="50%" stop-color="yellow"/>
			<stop offset="50%" stop-color="blue"/>
			<stop offset="100%" stop-color="blue"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad14" x1="187.75" x2="218.875">
			<stop offset="0%" stop-color="black"/>
			<stop offset="50%" stop-color="black"/>
			<stop offset="50%" stop-color="white"/>
			<stop offset="100%" stop-color="white"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad15" x1="218.875" x2="250">
			<stop offset="0%" stop-color="sienna"/>
			<stop offset="50%" stop-color="sienna"/>
			<stop offset="50%" stop-color="purple"/>
			<stop offset="100%" stop-color="purple"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad16" x1="250" x2="281.125">
			<stop offset="0%" stop-color="darkgreen"/>
			<stop offset="68.75%" stop-color="darkgreen"/>
			<stop offset="68.75%" stop-color="yellow"/>
			<stop offset="100%" stop-color="yellow"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad17" x1="250" x2="281.125">
			<stop offset="0%" stop-color="white"/>
			<stop offset="68.75%" stop-color="white"/>
			<stop offset="68.75%" stop-color="black"/>
			<stop offset="100%" stop-color="black"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad18" x1="281.125" x2="312.25">
			<stop offset="0%" stop-color="darkgreen"/>
			<stop offset="31.25%" stop-color="darkgreen"/>
			<stop offset="31.25%" stop-color="purple"/>
			<stop offset="100%" stop-color="purple"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad19" x1="312.25" x2="343.375">
			<stop offset="0%" stop-color="sienna"/>
			<stop offset="12.5%" stop-color="sienna"/>
			<stop offset="12.5%" stop-color="purple"/>
			<stop offset="68.75%" stop-color="purple"/>
			<stop offset="68.75%" stop-color="blue"/>
			<stop offset="100%" stop-color="blue"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad20" x1="343.375" x2="374.5">
			<stop offset="0%" stop-color="sienna"/>
			<stop offset="100%" stop-color="sienna"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad21" x1="374.5" x2="405.625">
			<stop offset="0%" stop-color="darkgreen"/>
			<stop offset="50%" stop-color="darkgreen"/>
			<stop offset="50%" stop-color="blue"/>
			<stop offset="75%" stop-color="blue"/>
			<stop offset="75%" stop-color="sienna"/>
			<stop offset="81.25%" stop-color="sienna"/>
			<stop offset="81.25%" stop-color="darkgreen"/>
			<stop offset="100%" stop-color="darkgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad22" x1="405.625" x2="436.75">
			<stop offset="0%" stop-color="black"/>
			<stop offset="75%" stop-color="black"/>
			<stop offset="75%" stop-color="blue"/>
			<stop offset="100%" stop-color="blue"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad23" x1="436.75" x2="467.875">
			<stop offset="0%" stop-color="black"/>
			<stop offset="100%" stop-color="black"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad24" x1="467.875" x2="499">
			<stop offset="0%" stop-color="blue"/>
			<stop offset="100%" stop-color="blue"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad25" x1="1" x2="32.125">
			<stop offset="0%" stop-color="blue"/>
			<stop offset="43.75%" stop-color="blue"/>
			<stop offset="43.75%" stop-color="orchid"/>
			<stop offset="100%" stop-color="orchid"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad26" x1="1" x2="32.125">
			<stop offset="0%" stop-color="white"/>
			<stop offset="43.75%" stop-color="white"/>
			<stop offset="43.75%" stop-color="black"/>
			<stop offset="100%" stop-color="black"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad27" x1="250" x2="281.125">
			<stop offset="0%" stop-color="cyan"/>
			<stop offset="100%" stop-color="cyan"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad28" x1="281.125" x2="312.25">
			<stop offset="0%" stop-color="orchid"/>
			<stop offset="100%" stop-color="orchid"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad29" x1="374.5" x2="405.625">
			<stop offset="0%" stop-color="blue"/>
			<stop offset="37.5%" stop-color="blue"/>
			<stop offset="37.5%" stop-color="black"/>
			<stop offset="50%" stop-color="black"/>
			<stop offset="50%" stop-color="blue"/>
			<stop offset="100%" stop-color="blue"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad30" x1="405.625" x2="436.75">
			<stop offset="0%" stop-color="blue"/>
			<stop offset="18.75%" stop-color="blue"/>
			<stop offset="18.75%" stop-color="lightgreen"/>
			<stop offset="87.5%" stop-color="lightgreen"/>
			<stop offset="87.5%" stop-color="blue"/>
			<stop offset="100%" stop-color="blue"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad31" x1="405.625" x2="436.75">
			<stop offset="0%" stop-color="white"/>
			<stop offset="18.75%" stop-color="white"/>
			<stop offset="18.75%" stop-color="black"/>
			<stop offset="87.5%" stop-color="black"/>
			<stop offset="87.5%" stop-color="white"/>
			<stop offset="100%" stop-color="white"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad32" x1="436.75" x2="467.875">
			<stop offset="0%" stop-color="orchid"/>
			<stop offset="50%" stop-color="orchid"/>
			<stop offset="50%" stop-color="salmon"/>
			<stop offset="100%" stop-color="salmon"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad33" x1="467.875" x2="499">
			<stop offset="0%" stop-color="salmon"/>
			<stop offset="87.5%" stop-color="salmon"/>
			<stop offset="87.5%" stop-color="white"/>
			<stop offset="93.75%" stop-color="white"/>
			<stop offset="93.75%" stop-color="salmon"/>
			<stop offset="100%" stop-color="salmon"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad34" x1="1" x2="32.125">
			<stop offset="0%" stop-color="crimson"/>
			<stop offset="100%" stop-color="crimson"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad35" x1="32.125" x2="63.25">
			<stop offset="0%" stop-color="crimson"/>
			<stop offset="75%" stop-color="crimson"/>
			<stop offset="75%" stop-color="salmon"/>
			<stop offset="93.75%" stop-color="salmon"/>
			<stop offset="93.75%" stop-color="crimson"/>
			<stop offset="100%" stop-color="crimson"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad36" x1="63.25" x2="94.375">
			<stop offset="0%" stop-color="orchid"/>
			<stop offset="100%" stop-color="orchid"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad37" x1="125.5" x2="156.625">
			<stop offset="0%" stop-color="salmon"/>
			<stop offset="100%" stop-color="salmon"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad38" x1="405.625" x2="436.75">
			<stop offset="0%" stop-color="salmon"/>
			<stop offset="75%" stop-color="salmon"/>
			<stop offset="75%" stop-color="orchid"/>
			<stop offset="100%" stop-color="orchid"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad39" x1="436.75" x2="467.875">
			<stop offset="0%" stop-color="salmon"/>
			<stop offset="100%" stop-color="salmon"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad40" x1="1" x2="32.125">
			<stop offset="0%" stop-color="crimson"/>
			<stop offset="100%" stop-color="crimson"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad41" x1="156.625" x2="187.75">
			<stop offset="0%" stop-color="lightgreen"/>
			<stop offset="100%" stop-color="lightgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad42" x1="187.75" x2="218.875">
			<stop offset="0%" stop-color="lightgreen"/>
			<stop offset="25%" stop-color="lightgreen"/>
			<stop offset="25%" stop-color="blue"/>
			<stop offset="62.5%" stop-color="blue"/>
			<stop offset="62.5%" stop-color="lightgreen"/>
			<stop offset="100%" stop-color="lightgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad43" x1="187.75" x2="218.875">
			<stop offset="0%" stop-color="black"/>
			<stop offset="25%" stop-color="black"/>
			<stop offset="25%" stop-color="white"/>
			<stop offset="62.5%" stop-color="white"/>
			<stop offset="62.5%" stop-color="black"/>
			<stop offset="100%" stop-color="black"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad44" x1="218.875" x2="250">
			<stop offset="0%" stop-color="crimson"/>
			<stop offset="12.5%" stop-color="crimson"/>
			<stop offset="12.5%" stop-color="black"/>
			<stop offset="100%" stop-color="black"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad45" x1="218.875" x2="250">
			<stop offset="0%" stop-color="black"/>
			<stop offset="12.5%" stop-color="black"/>
			<stop offset="12.5%" stop-color="white"/>
			<stop offset="100%" stop-color="white"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad46" x1="250" x2="281.125">
			<stop offset="0%" stop-color="darkgreen"/>
			<stop offset="18.75%" stop-color="darkgreen"/>
			<stop offset="18.75%" stop-color="orchid"/>
			<stop offset="25%" stop-color="orchid"/>
			<stop offset="25%" stop-color="darkgreen"/>
			<stop offset="100%" stop-color="darkgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad47" x1="250" x2="281.125">
			<stop offset="0%" stop-color="white"/>
			<stop offset="18.75%" stop-color="white"/>
			<stop offset="18.75%" stop-color="black"/>
			<stop offset="25%" stop-color="black"/>
			<stop offset="25%" stop-color="white"/>
			<stop offset="100%" stop-color="white"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad48" x1="281.125" x2="312.25">
			<stop offset="0%" stop-color="purple"/>
			<stop offset="18.75%" stop-color="purple"/>
			<stop offset="18.75%" stop-color="sienna"/>
			<stop offset="37.5%" stop-color="sienna"/>
			<stop offset="37.5%" stop-color="crimson"/>
			<stop offset="50%" stop-color="crimson"/>
			<stop offset="50%" stop-color="sienna"/>
			<stop offset="87.5%" stop-color="sienna"/>
			<stop offset="87.5%" stop-color="purple"/>
			<stop offset="100%" stop-color="purple"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad49" x1="281.125" x2="312.25">
			<stop offset="0%" stop-color="white"/>
			<stop offset="37.5%" stop-color="white"/>
			<stop offset="37.5%" stop-color="black"/>
			<stop offset="50%" stop-color="black"/>
			<stop offset="50%" stop-color="white"/>
			<stop offset="100%" stop-color="white"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad50" x1="312.25" x2="343.375">
			<stop offset="0%" stop-color="purple"/>
			<stop offset="87.5%" stop-color="purple"/>
			<stop offset="87.5%" stop-color="darkgreen"/>
			<stop offset="100%" stop-color="darkgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad51" x1="343.375" x2="374.5">
			<stop offset="0%" stop-color="lightgreen"/>
			<stop offset="18.75%" stop-color="lightgreen"/>
			<stop offset="18.75%" stop-color="black"/>
			<stop offset="43.75%" stop-color="black"/>
			<stop offset="43.75%" stop-color="yellow"/>
			<stop offset="75%" stop-color="yellow"/>
			<stop offset="75%" stop-color="darkgreen"/>
			<stop offset="100%" stop-color="darkgreen"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad52" x1="343.375" x2="374.5">
			<stop offset="0%" stop-color="black"/>
			<stop offset="18.75%" stop-color="black"/>
			<stop offset="18.75%" stop-color="white"/>
			<stop offset="43.75%" stop-color="white"/>
			<stop offset="43.75%" stop-color="black"/>
			<stop offset="75%" stop-color="black"/>
			<stop offset="75%" stop-color="white"/>
			<stop offset="100%" stop-color="white"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad53" x1="374.5" x2="405.625">
			<stop offset="0%" stop-color="crimson"/>
			<stop offset="100%" stop-color="crimson"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad54" x1="250" x2="281.125">
			<stop offset="0%" stop-color="lightgray"/>
			<stop offset="100%" stop-color="lightgray"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad55" x1="1" x2="32.125">
			<stop offset="0%" stop-color="darkgray"/>
			<stop offset="100%" stop-color="darkgray"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad56" x1="281.125" x2="312.25">
			<stop offset="0%" stop-color="salmon"/>
			<stop offset="100%" stop-color="salmon"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad57" x1="343.375" x2="374.5">
			<stop offset="0%" stop-color="black"/>
			<stop offset="6.25%" stop-color="black"/>
			<stop offset="6.25%" stop-color="blue"/>
			<stop offset="12.5%" stop-color="blue"/>
			<stop offset="12.5%" stop-color="orange"/>
			<stop offset="100%" stop-color="orange"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad58" x1="343.375" x2="374.5">
			<stop offset="0%" stop-color="white"/>
			<stop offset="12.5%" stop-color="white"/>
			<stop offset="12.5%" stop-color="black"/>
			<stop offset="100%" stop-color="black"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad59" x1="436.75" x2="467.875">
			<stop offset="0%" stop-color="darkkhaki"/>
			<stop offset="6.25%" stop-color="darkkhaki"/>
			<stop offset="6.25%" stop-color="crimson"/>
			<stop offset="12.5%" stop-color="crimson"/>
			<stop offset="12.5%" stop-color="blue"/>
			<stop offset="18.75%" stop-color="blue"/>
			<stop offset="18.75%" stop-color="crimson"/>
			<stop offset="43.75%" stop-color="crimson"/>
			<stop offset="43.75%" stop-color="orange"/>
			<stop offset="100%" stop-color="orange"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad60" x1="436.75" x2="467.875">
			<stop offset="0%" stop-color="black"/>
			<stop offset="12.5%" stop-color="black"/>
			<stop offset="12.5%" stop-color="white"/>
			<stop offset="18.75%" stop-color="white"/>
			<stop offset="18.75%" stop-color="black"/>
			<stop offset="100%" stop-color="black"/>
		</linearGradient>
		<linearGradient gradientUnits="userSpaceOnUse" id="grad61" x1="467.875" x2="499">
			<stop offset="0%" stop-color="crimson"/>
			<stop offset="93.75%" stop-color="crimson"/>
			<stop offset="93.75%" stop-color="pink"/>
			<stop offset="100%" stop-color="pink"/>
		</linearGradient>
	</defs>
	<rect fill="white" height="500" width="850" x="0" y="0"/>
	<g stroke="gainsboro" stroke-width="2px">
		<rect fill="black" height="31.125" width="31.125" x="1" y="1"/>
		<rect fill="black" height="31.125" width="31.125" x="32.125" y="1"/>
		<rect fill="black" height="31.125" width="31.125" x="63.25" y="1"/>
		<rect fill="url(#grad0)" height="31.125" width="31.125" x="94.375" y="1"/>
		<rect fill="blue" height="31.125" width="31.125" x="125.5" y="1"/>
		<rect fill="url(#grad1)" height="31.125" width="31.125" x="156.625" y="1"/>
		<rect fill="orange" height="31.125" width="31.125" x="187.75" y="1"/>
		<rect fill="url(#grad3)" height="31.125" width="31.125" x="218.875" y="1"/>
		<rect fill="url(#grad5)" height="31.125" width="31.125" x="250" y="1"/>
		<rect fill="url(#grad6)" height="31.125" width="31.125" x="281.125" y="1"/>
		<rect fill="darkgreen" height="31.125" width="31.125" x="312.25" y="1"/>
		<rect fill="darkgreen" height="31.125" width="31.125" x="343.375" y="1"/>
		<rect fill="darkgreen" height="31.125" width="31.125" x="374.5" y="1"/>
		<rect fill="darkgreen" height="31.125" width="31.125" x="405.625" y="1"/>
		<rect fill="url(#grad7)" height="31.125" width="31.125" x="436.75" y="1"/>
		<rect fill="url(#grad8)" height="31.125" width="31.125" x="467.875" y="1"/>
		<rect fill="url(#grad9)" height="31.125" width="31.125" x="1" y="32.125"/>
		<rect fill="url(#grad10)" height="31.125" width="31.125" x="32.125" y="32.125"/>
		<rect fill="url(#grad11)" height="31.125" width="31.125" x="63.25" y="32.125"/>
		<rect fill="url(#grad12)" height="31.125" width="31.125" x="94.375" y="32.125"/>
		<rect fill="yellow" height="31.125" width="31.125" x="125.5" y="32.125"/>
		<rect fill="yellow" height="31.125" width="31.125" x="156.625" y="32.125"/>
		<rect fill="url(#grad13)" height="31.125" width="31.125" x="187.75" y="32.125"/>
		<rect fill="url(#grad15)" height="31.125" width="31.125" x="218.875" y="32.125"/>
		<rect fill="url(#grad16)" height="31.125" width="31.125" x="250" y="32.125"/>
		<rect fill="url(#grad18)" height="31.125" width="31.125" x="281.125" y="32.125"/>
		<rect fill="url(#grad19)" height="31.125" width="31.125" x="312.25" y="32.125"/>
		<rect fill="url(#grad20)" height="31.125" width="31.125" x="343.375" y="32.125"/>
		<rect fill="url(#grad21)" height="31.125" width="31.125" x="374.5" y="32.125"/>
		<rect fill="url(#grad22)" height="31.125" width="31.125" x="405.625" y="32.125"/>
		<rect fill="url(#grad23)" height="31.125" width="31.125" x="436.75" y="32.125"/>
		<rect fill="url(#grad24)" height="31.125" width="31.125" x="467.875" y="32.125"/>
		<rect fill="url(#grad25)" height="31.125" width="31.125" x="1" y="63.25"/>
		<rect fill="orchid" height="31.125" width="31.125" x="32.125" y="63.25"/>
		<rect fill="orchid" height="31.125" width="31.125" x="63.25" y="63.25"/>
		<rect fill="orchid" height="31.125" width="31.125" x="94.375" y="63.25"/>
		<rect fill="orchid" height="31.125" width="31.125" x="125.5" y="63.25"/>
		<rect fill="orchid" height="31.125" width="31.125" x="156.625" y="63.25"/>
		<rect fill="orchid" height="31.125" width="31.125" x="187.75" y="63.25"/>
		<rect fill="orchid" height="31.125" width="31.125" x="218.875" y="63.25"/>
		<rect fill="url(#grad27)" height="31.125" width="31.125" x="250" y="63.25"/>
		<rect fill="url(#grad28)" height="31.125" width="31.125" x="281.125" y="63.25"/>
		<rect fill="orchid" height="31.125" width="31.125" x="312.25" y="63.25"/>
		<rect fill="orchid" height="31.125" width="31.125" x="343.375" y="63.25"/>
		<rect fill="url(#grad29)" height="31.125" width="31.125" x="374.5" y="63.25"/>
		<rect fill="url(#grad30)" height="31.125" width="31.125" x="405.625" y="63.25"/>
		<rect fill="url(#grad32)" height="31.125" width="31.125" x="436.75" y="63.25"/>
		<rect fill="url(#grad33)" height="31.125" width="31.125" x="467.875" y="63.25"/>
		<rect fill="url(#grad34)" height="31.125" width="31.125" x="1" y="94.375"/>
		<rect fill="url(#grad35)" height="31.125" width="31.125" x="32.125" y="94.375"/>
		<rect fill="url(#grad36)" height="31.125" width="31.125" x="63.25" y="94.375"/>
		<rect fill="orchid" height="31.125" width="31.125" x="94.375" y="94.375"/>
		<rect fill="url(#grad37)" height="31.125" width="31.125" x="125.5" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="156.625" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="187.75" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="218.875" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="250" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="281.125" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="312.25" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="343.375" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="374.5" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="405.625" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="436.75" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="467.875" y="94.375"/>
		<rect fill="salmon" height="31.125" width="31.125" x="1" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="32.125" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="63.25" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="94.375" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="125.5" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="156.625" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="187.75" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="218.875" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="250" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="281.125" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="312.25" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="343.375" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="374.5" y="125.5"/>
		<rect fill="url(#grad38)" height="31.125" width="31.125" x="405.625" y="125.5"/>
		<rect fill="url(#grad39)" height="31.125" width="31.125" x="436.75" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="467.875" y="125.5"/>
		<rect fill="salmon" height="31.125" width="31.125" x="1" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="32.125" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="63.25" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="94.375" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="125.5" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="156.625" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="187.75" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="218.875" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="250" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="281.125" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="312.25" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="343.375" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="374.5" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="405.625" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="436.75" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="467.875" y="156.625"/>
		<rect fill="salmon" height="31.125" width="31.125" x="1" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="32.125" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="63.25" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="94.375" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="125.5" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="156.625" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="187.75" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="218.875" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="250" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="281.125" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="312.25" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="343.375" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="374.5" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="405.625" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="436.75" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="467.875" y="187.75"/>
		<rect fill="salmon" height="31.125" width="31.125" x="1" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="32.125" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="63.25" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="94.375" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="125.5" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="156.625" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="187.75" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="218.875" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="250" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="281.125" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="312.25" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="343.375" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="374.5" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="405.625" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="436.75" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="467.875" y="218.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="1" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="32.125" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="63.25" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="94.375" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="125.5" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="156.625" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="187.75" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="218.875" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="250" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="281.125" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="312.25" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="343.375" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="374.5" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="405.625" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="436.75" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="467.875" y="250"/>
		<rect fill="salmon" height="31.125" width="31.125" x="1" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="32.125" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="63.25" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="94.375" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="125.5" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="156.625" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="187.75" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="218.875" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="250" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="281.125" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="312.25" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="343.375" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="374.5" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="405.625" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="436.75" y="281.125"/>
		<rect fill="salmon" height="31.125" width="31.125" x="467.875" y="281.125"/>
		<rect fill="url(#grad40)" height="31.125" width="31.125" x="1" y="312.25"/>
		<rect fill="crimson" height="31.125" width="31.125" x="32.125" y="312.25"/>
		<rect fill="crimson" height="31.125" width="31.125" x="63.25" y="312.25"/>
		<rect fill="crimson" height="31.125" width="31.125" x="94.375" y="312.25"/>
		<rect fill="crimson" height="31.125" width="31.125" x="125.5" y="312.25"/>
		<rect fill="url(#grad41)" height="31.125" width="31.125" x="156.625" y="312.25"/>
		<rect fill="url(#grad42)" height="31.125" width="31.125" x="187.75" y="312.25"/>
		<rect fill="url(#grad44)" height="31.125" width="31.125" x="218.875" y="312.25"/>
		<rect fill="url(#grad46)" height="31.125" width="31.125" x="250" y="312.25"/>
		<rect fill="url(#grad48)" height="31.125" width="31.125" x="281.125" y="312.25"/>
		<rect fill="url(#grad50)" height="31.125" width="31.125" x="312.25" y="312.25"/>
		<rect fill="url(#grad51)" height="31.125" width="31.125" x="343.375" y="312.25"/>
		<rect fill="url(#grad53)" height="31.125" width="31.125" x="374.5" y="312.25"/>
		<rect fill="crimson" height="31.125" width="31.125" x="405.625" y="312.25"/>
		<rect fill="crimson" height="31.125" width="31.125" x="436.75" y="312.25"/>
		<rect fill="crimson" height="31.125" width="31.125" x="467.875" y="312.25"/>
		<rect fill="crimson" height="31.125" width="31.125" x="1" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="32.125" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="63.25" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="94.375" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="125.5" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="156.625" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="187.75" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="218.875" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="250" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="281.125" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="312.25" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="343.375" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="374.5" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="405.625" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="436.75" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="467.875" y="343.375"/>
		<rect fill="crimson" height="31.125" width="31.125" x="1" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="32.125" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="63.25" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="94.375" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="125.5" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="156.625" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="187.75" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="218.875" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="250" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="281.125" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="312.25" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="343.375" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="374.5" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="405.625" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="436.75" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="467.875" y="374.5"/>
		<rect fill="crimson" height="31.125" width="31.125" x="1" y="405.625"/>
		<rect fill="crimson" height="31.125" width="31.125" x="32.125" y="405.625"/>
		<rect fill="crimson" height="31.125" width="31.125" x="63.25" y="405.625"/>
		<rect fill="crimson" height="31.125" width="31.125" x="94.375" y="405.625"/>
		<rect fill="crimson" height="31.125" width="31.125" x="125.5" y="405.625"/>
		<rect fill="crimson" height="31.125" width="31.125" x="156.625" y="405.625"/>
		<rect fill="crimson" height="31.125" width="31.125" x="187.75" y="405.625"/>
		<rect fill="crimson" height="31.125" width="31.125" x="218.875" y="405.625"/>
		<rect fill="url(#grad54)" height="31.125" width="31.125" x="250" y="405.625"/>
		<rect fill="lightgray" height="31.125" width="31.125" x="281.125" y="405.625"/>
		<rect fill="lightgray" height="31.125" width="31.125" x="312.25" y="405.625"/>
		<rect fill="lightgray" height="31.125" width="31.125" x="343.375" y="405.625"/>
		<rect fill="lightgray" height="31.125" width="31.125" x="374.5" y="405.625"/>
		<rect fill="lightgray" height="31.125" width="31.125" x="405.625" y="405.625"/>
		<rect fill="lightgray" height="31.125" width="31.125" x="436.75" y="405.625"/>
		<rect fill="lightgray" height="31.125" width="31.125" x="467.875" y="405.625"/>
		<rect fill="url(#grad55)" height="31.125" width="31.125" x="1" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="32.125" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="63.25" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="94.375" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="125.5" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="156.625" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="187.75" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="218.875" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="250" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="281.125" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="312.25" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="343.375" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="374.5" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="405.625" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="436.75" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="467.875" y="436.75"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="1" y="467.875"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="32.125" y="467.875"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="63.25" y="467.875"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="94.375" y="467.875"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="125.5" y="467.875"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="156.625" y="467.875"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="187.75" y="467.875"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="218.875" y="467.875"/>
		<rect fill="darkgray" height="31.125" width="31.125" x="250" y="467.875"/>
		<rect fill="url(#grad56)" height="31.125" width="31.125" x="281.125" y="467.875"/>
		<rect fill="salmon" height="31.125" width="31.125" x="312.25" y="467.875"/>
		<rect fill="url(#grad57)" height="31.125" width="31.125" x="343.375" y="467.875"/>
		<rect fill="orange" height="31.125" width="31.125" x="374.5" y="467.875"/>
		<rect fill="orange" height="31.125" width="31.125" x="405.625" y="467.875"/>
		<rect fill="url(#grad59)" height="31.125" width="31.125" x="436.75" y="467.875"/>
		<rect fill="url(#grad61)" height="31.125" width="31.125" x="467.875" y="467.875"/></g>
	<g font-family="'DejaVu Sans', sans-serif" font-size="14.1px" text-anchor="middle">
		<text fill="white" x="16.5625" y="21.75">00</text>
		<text fill="white" x="47.6875" y="21.75">01</text>
		<text fill="white" x="78.8125" y="21.75">02</text>
		<text fill="white" x="109.9375" y="21.75">03</text>
		<text fill="white" x="141.0625" y="21.75">04</text>
		<text fill="url(#grad2)" x="172.1875" y="21.75">05</text>
		<text fill="black" x="203.3125" y="21.75">06</text>
		<text fill="url(#grad4)" x="234.4375" y="21.75">07</text>
		<text fill="black" x="265.5625" y="21.75">08</text>
		<text fill="white" x="296.6875" y="21.75">09</text>
		<text fill="white" x="327.8125" y="21.75">0A</text>
		<text fill="white" x="358.9375" y="21.75">0B</text>
		<text fill="white" x="390.0625" y="21.75">0C</text>
		<text fill="white" x="421.1875" y="21.75">0D</text>
		<text fill="white" x="452.3125" y="21.75">0E</text>
		<text fill="white" x="483.4375" y="21.75">0F</text>
		<text fill="white" x="16.5625" y="52.875">10</text>
		<text fill="black" x="47.6875" y="52.875">11</text>
		<text fill="black" x="78.8125" y="52.875">12</text>
		<text fill="black" x="109.9375" y="52.875">13</text>
		<text fill="black" x="141.0625" y="52.875">14</text>
		<text fill="black" x="172.1875" y="52.875">15</text>
		<text fill="url(#grad14)" x="203.3125" y="52.875">16</text>
		<text fill="white" x="234.4375" y="52.875">17</text>
		<text fill="url(#grad17)" x="265.5625" y="52.875">18</text>
		<text fill="white" x="296.6875" y="52.875">19</text>
		<text fill="white" x="327.8125" y="52.875">1A</text>
		<text fill="white" x="358.9375" y="52.875">1B</text>
		<text fill="white" x="390.0625" y="52.875">1C</text>
		<text fill="white" x="421.1875" y="52.875">1D</text>
		<text fill="white" x="452.3125" y="52.875">1E</text>
		<text fill="white" x="483.4375" y="52.875">1F</text>
		<text fill="url(#grad26)" x="16.5625" y="84">20</text>
		<text fill="black" x="47.6875" y="84">21</text>
		<text fill="black" x="78.8125" y="84">22</text>
		<text fill="black" x="109.9375" y="84">23</text>
		<text fill="black" x="141.0625" y="84">24</text>
		<text fill="black" x="172.1875" y="84">25</text>
		<text fill="black" x="203.3125" y="84">26</text>
		<text fill="black" x="234.4375" y="84">27</text>
		<text fill="black" x="265.5625" y="84">28</text>
		<text fill="black" x="296.6875" y="84">29</text>
		<text fill="black" x="327.8125" y="84">2A</text>
		<text fill="black" x="358.9375" y="84">2B</text>
		<text fill="white" x="390.0625" y="84">2C</text>
		<text fill="url(#grad31)" x="421.1875" y="84">2D</text>
		<text fill="black" x="452.3125" y="84">2E</text>
		<text fill="black" x="483.4375" y="84">2F</text>
		<text fill="black" x="16.5625" y="115.125">30</text>
		<text fill="black" x="47.6875" y="115.125">31</text>
		<text fill="black" x="78.8125" y="115.125">32</text>
		<text fill="black" x="109.9375" y="115.125">33</text>
		<text fill="black" x="141.0625" y="115.125">34</text>
		<text fill="black" x="172.1875" y="115.125">35</text>
		<text fill="black" x="203.3125" y="115.125">36</text>
		<text fill="black" x="234.4375" y="115.125">37</text>
		<text fill="black" x="265.5625" y="115.125">38</text>
		<text fill="black" x="296.6875" y="115.125">39</text>
		<text fill="black" x="327.8125" y="115.125">3A</text>
		<text fill="black" x="358.9375" y="115.125">3B</text>
		<text fill="black" x="390.0625" y="115.125">3C</text>
		<text fill="black" x="421.1875" y="115.125">3D</text>
		<text fill="black" x="452.3125" y="115.125">3E</text>
		<text fill="black" x="483.4375" y="115.125">3F</text>
		<text fill="black" x="16.5625" y="146.25">40</text>
		<text fill="black" x="47.6875" y="146.25">41</text>
		<text fill="black" x="78.8125" y="146.25">42</text>
		<text fill="black" x="109.9375" y="146.25">43</text>
		<text fill="black" x="141.0625" y="146.25">44</text>
		<text fill="black" x="172.1875" y="146.25">45</text>
		<text fill="black" x="203.3125" y="146.25">46</text>
		<text fill="black" x="234.4375" y="146.25">47</text>
		<text fill="black" x="265.5625" y="146.25">48</text>
		<text fill="black" x="296.6875" y="146.25">49</text>
		<text fill="black" x="327.8125" y="146.25">4A</text>
		<text fill="black" x="358.9375" y="146.25">4B</text>
		<text fill="black" x="390.0625" y="146.25">4C</text>
		<text fill="black" x="421.1875" y="146.25">4D</text>
		<text fill="black" x="452.3125" y="146.25">4E</text>
		<text fill="black" x="483.4375" y="146.25">4F</text>
		<text fill="black" x="16.5625" y="177.375">50</text>
		<text fill="black" x="47.6875" y="177.375">51</text>
		<text fill="black" x="78.8125" y="177.375">52</text>
		<text fill="black" x="109.9375" y="177.375">53</text>
		<text fill="black" x="141.0625" y="177.375">54</text>
		<text fill="black" x="172.1875" y="177.375">55</text>
		<text fill="black" x="203.3125" y="177.375">56</text>
		<text fill="black" x="234.4375" y="177.375">57</text>
		<text fill="black" x="265.5625" y="177.375">58</text>
		<text fill="black" x="296.6875" y="177.375">59</text>
		<text fill="black" x="327.8125" y="177.375">5A</text>
		<text fill="black" x="358.9375" y="177.375">5B</text>
		<text fill="black" x="390.0625" y="177.375">5C</text>
		<text fill="black" x="421.1875" y="177.375">5D</text>
		<text fill="black" x="452.3125" y="177.375">5E</text>
		<text fill="black" x="483.4375" y="177.375">5F</text>
		<text fill="black" x="16.5625" y="208.5">60</text>
		<text fill="black" x="47.6875" y="208.5">61</text>
		<text fill="black" x="78.8125" y="208.5">62</text>
		<text fill="black" x="109.9375" y="208.5">63</text>
		<text fill="black" x="141.0625" y="208.5">64</text>
		<text fill="black" x="172.1875" y="208.5">65</text>
		<text fill="black" x="203.3125" y="208.5">66</text>
		<text fill="black" x="234.4375" y="208.5">67</text>
		<text fill="black" x="265.5625" y="208.5">68</text>
		<text fill="black" x="296.6875" y="208.5">69</text>
		<text fill="black" x="327.8125" y="208.5">6A</text>
		<text fill="black" x="358.9375" y="208.5">6B</text>
		<text fill="black" x="390.0625" y="208.5">6C</text>
		<text fill="black" x="421.1875" y="208.5">6D</text>
		<text fill="black" x="452.3125" y="208.5">6E</text>
		<text fill="black" x="483.4375" y="208.5">6F</text>
		<text fill="black" x="16.5625" y="239.625">70</text>
		<text fill="black" x="47.6875" y="239.625">71</text>
		<text fill="black" x="78.8125" y="239.625">72</text>
		<text fill="black" x="109.9375" y="239.625">73</text>
		<text fill="black" x="141.0625" y="239.625">74</text>
		<text fill="black" x="172.1875" y="239.625">75</text>
		<text fill="black" x="203.3125" y="239.625">76</text>
		<text fill="black" x="234.4375" y="239.625">77</text>
		<text fill="black" x="265.5625" y="239.625">78</text>
		<text fill="black" x="296.6875" y="239.625">79</text>
		<text fill="black" x="327.8125" y="239.625">7A</text>
		<text fill="black" x="358.9375" y="239.625">7B</text>
		<text fill="black" x="390.0625" y="239.625">7C</text>
		<text fill="black" x="421.1875" y="239.625">7D</text>
		<text fill="black" x="452.3125" y="239.625">7E</text>
		<text fill="black" x="483.4375" y="239.625">7F</text>
		<text fill="black" x="16.5625" y="270.75">80</text>
		<text fill="black" x="47.6875" y="270.75">81</text>
		<text fill="black" x="78.8125" y="270.75">82</text>
		<text fill="black" x="109.9375" y="270.75">83</text>
		<text fill="black" x="141.0625" y="270.75">84</text>
		<text fill="black" x="172.1875" y="270.75">85</text>
		<text fill="black" x="203.3125" y="270.75">86</text>
		<text fill="black" x="234.4375" y="270.75">87</text>
		<text fill="black" x="265.5625" y="270.75">88</text>
		<text fill="black" x="296.6875" y="270.75">89</text>
		<text fill="black" x="327.8125" y="270.75">8A</text>
		<text fill="black" x="358.9375" y="270.75">8B</text>
		<text fill="black" x="390.0625" y="270.75">8C</text>
		<text fill="black" x="421.1875" y="270.75">8D</text>
		<text fill="black" x="452.3125" y="270.75">8E</text>
		<text fill="black" x="483.4375" y="270.75">8F</text>
		<text fill="black" x="16.5625" y="301.875">90</text>
		<text fill="black" x="47.6875" y="301.875">91</text>
		<text fill="black" x="78.8125" y="301.875">92</text>
		<text fill="black" x="109.9375" y="301.875">93</text>
		<text fill="black" x="141.0625" y="301.875">94</text>
		<text fill="black" x="172.1875" y="301.875">95</text>
		<text fill="black" x="203.3125" y="301.875">96</text>
		<text fill="black" x="234.4375" y="301.875">97</text>
		<text fill="black" x="265.5625" y="301.875">98</text>
		<text fill="black" x="296.6875" y="301.875">99</text>
		<text fill="black" x="327.8125" y="301.875">9A</text>
		<text fill="black" x="358.9375" y="301.875">9B</text>
		<text fill="black" x="390.0625" y="301.875">9C</text>
		<text fill="black" x="421.1875" y="301.875">9D</text>
		<text fill="black" x="452.3125" y="301.875">9E</text>
		<text fill="black" x="483.4375" y="301.875">9F</text>
		<text fill="black" x="16.5625" y="333">A0</text>
		<text fill="black" x="47.6875" y="333">A1</text>
		<text fill="black" x="78.8125" y="333">A2</text>
		<text fill="black" x="109.9375" y="333">A3</text>
		<text fill="black" x="141.0625" y="333">A4</text>
		<text fill="black" x="172.1875" y="333">A5</text>
		<text fill="url(#grad43)" x="203.3125" y="333">A6</text>
		<text fill="url(#grad45)" x="234.4375" y="333">A7</text>
		<text fill="url(#grad47)" x="265.5625" y="333">A8</text>
		<text fill="url(#grad49)" x="296.6875" y="333">A9</text>
		<text fill="white" x="327.8125" y="333">AA</text>
		<text fill="url(#grad52)" x="358.9375" y="333">AB</text>
		<text fill="black" x="390.0625" y="333">AC</text>
		<text fill="black" x="421.1875" y="333">AD</text>
		<text fill="black" x="452.3125" y="333">AE</text>
		<text fill="black" x="483.4375" y="333">AF</text>
		<text fill="black" x="16.5625" y="364.125">B0</text>
		<text fill="black" x="47.6875" y="364.125">B1</text>
		<text fill="black" x="78.8125" y="364.125">B2</text>
		<text fill="black" x="109.9375" y="364.125">B3</text>
		<text fill="black" x="141.0625" y="364.125">B4</text>
		<text fill="black" x="172.1875" y="364.125">B5</text>
		<text fill="black" x="203.3125" y="364.125">B6</text>
		<text fill="black" x="234.4375" y="364.125">B7</text>
		<text fill="black" x="265.5625" y="364.125">B8</text>
		<text fill="black" x="296.6875" y="364.125">B9</text>
		<text fill="black" x="327.8125" y="364.125">BA</text>
		<text fill="black" x="358.9375" y="364.125">BB</text>
		<text fill="black" x="390.0625" y="364.125">BC</text>
		<text fill="black" x="421.1875" y="364.125">BD</text>
		<text fill="black" x="452.3125" y="364.125">BE</text>
		<text fill="black" x="483.4375" y="364.125">BF</text>
		<text fill="black" x="16.5625" y="395.25">C0</text>
		<text fill="black" x="47.6875" y="395.25">C1</text>
		<text fill="black" x="78.8125" y="395.25">C2</text>
		<text fill="black" x="109.9375" y="395.25">C3</text>
		<text fill="black" x="141.0625" y="395.25">C4</text>
		<text fill="black" x="172.1875" y="395.25">C5</text>
		<text fill="black" x="203.3125" y="395.25">C6</text>
		<text fill="black" x="234.4375" y="395.25">C7</text>
		<text fill="black" x="265.5625" y="395.25">C8</text>
		<text fill="black" x="296.6875" y="395.25">C9</text>
		<text fill="black" x="327.8125" y="395.25">CA</text>
		<text fill="black" x="358.9375" y="395.25">CB</text>
		<text fill="black" x="390.0625" y="395.25">CC</text>
		<text fill="black" x="421.1875" y="395.25">CD</text>
		<text fill="black" x="452.3125" y="395.25">CE</text>
		<text fill="black" x="483.4375" y="395.25">CF</text>
		<text fill="black" x="16.5625" y="426.375">D0</text>
		<text fill="black" x="47.6875" y="426.375">D1</text>
		<text fill="black" x="78.8125" y="426.375">D2</text>
		<text fill="black" x="109.9375" y="426.375">D3</text>
		<text fill="black" x="141.0625" y="426.375">D4</text>
		<text fill="black" x="172.1875" y="426.375">D5</text>
		<text fill="black" x="203.3125" y="426.375">D6</text>
		<text fill="black" x="234.4375" y="426.375">D7</text>
		<text fill="black" x="265.5625" y="426.375">D8</text>
		<text fill="black" x="296.6875" y="426.375">D9</text>
		<text fill="black" x="327.8125" y="426.375">DA</text>
		<text fill="black" x="358.9375" y="426.375">DB</text>
		<text fill="black" x="390.0625" y="426.375">DC</text>
		<text fill="black" x="421.1875" y="426.375">DD</text>
		<text fill="black" x="452.3125" y="426.375">DE</text>
		<text fill="black" x="483.4375" y="426.375">DF</text>
		<text fill="white" x="16.5625" y="457.5">E0</text>
		<text fill="white" x="47.6875" y="457.5">E1</text>
		<text fill="white" x="78.8125" y="457.5">E2</text>
		<text fill="white" x="109.9375" y="457.5">E3</text>
		<text fill="white" x="141.0625" y="457.5">E4</text>
		<text fill="white" x="172.1875" y="457.5">E5</text>
		<text fill="white" x="203.3125" y="457.5">E6</text>
		<text fill="white" x="234.4375" y="457.5">E7</text>
		<text fill="white" x="265.5625" y="457.5">E8</text>
		<text fill="white" x="296.6875" y="457.5">E9</text>
		<text fill="white" x="327.8125" y="457.5">EA</text>
		<text fill="white" x="358.9375" y="457.5">EB</text>
		<text fill="white" x="390.0625" y="457.5">EC</text>
		<text fill="white" x="421.1875" y="457.5">ED</text>
		<text fill="white" x="452.3125" y="457.5">EE</text>
		<text fill="white" x="483.4375" y="457.5">EF</text>
		<text fill="white" x="16.5625" y="488.625">F0</text>
		<text fill="white" x="47.6875" y="488.625">F1</text>
		<text fill="white" x="78.8125" y="488.625">F2</text>
		<text fill="white" x="109.9375" y="488.625">F3</text>
		<text fill="white" x="141.0625" y="488.625">F4</text>
		<text fill="white" x="172.1875" y="488.625">F5</text>
		<text fill="white" x="203.3125" y="488.625">F6</text>
		<text fill="white" x="234.4375" y="488.625">F7</text>
		<text fill="white" x="265.5625" y="488.625">F8</text>
		<text fill="black" x="296.6875" y="488.625">F9</text>
		<text fill="black" x="327.8125" y="488.625">FA</text>
		<text fill="url(#grad58)" x="358.9375" y="488.625">FB</text>
		<text fill="black" x="390.0625" y="488.625">FC</text>
		<text fill="black" x="421.1875" y="488.625">FD</text>
		<text fill="url(#grad60)" x="452.3125" y="488.625">FE</text>
		<text fill="black" x="483.4375" y="488.625">FF</text>
	</g>
	<g stroke="gainsboro" stroke-width="2px">
		<switch allowReorder="yes">
			<g systemLanguage="be">
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="138.25"/>
				<rect fill="purple" height="13" width="25" x="518" y="180.75"/>
				<rect fill="crimson" height="13" width="25" x="518" y="207"/>
				<rect fill="salmon" height="13" width="25" x="518" y="233.25"/>
				<rect fill="sienna" height="13" width="25" x="518" y="259.5"/>
				<rect fill="yellow" height="13" width="25" x="518" y="285.75"/>
				<rect fill="cyan" height="13" width="25" x="518" y="312"/>
				<rect fill="orchid" height="13" width="25" x="518" y="338.25"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="364.5"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="390.75"/>
			</g>
			<g systemLanguage="cs">
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="122"/>
				<rect fill="purple" height="13" width="25" x="518" y="148.25"/>
				<rect fill="crimson" height="13" width="25" x="518" y="174.5"/>
				<rect fill="salmon" height="13" width="25" x="518" y="200.75"/>
				<rect fill="sienna" height="13" width="25" x="518" y="227"/>
				<rect fill="yellow" height="13" width="25" x="518" y="253.25"/>
				<rect fill="cyan" height="13" width="25" x="518" y="279.5"/>
				<rect fill="orchid" height="13" width="25" x="518" y="305.75"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="332"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="358.25"/>
			</g>
			<g systemLanguage="de">
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="138.25"/>
				<rect fill="purple" height="13" width="25" x="518" y="180.75"/>
				<rect fill="crimson" height="13" width="25" x="518" y="207"/>
				<rect fill="salmon" height="13" width="25" x="518" y="233.25"/>
				<rect fill="sienna" height="13" width="25" x="518" y="259.5"/>
				<rect fill="yellow" height="13" width="25" x="518" y="302"/>
				<rect fill="cyan" height="13" width="25" x="518" y="328.25"/>
				<rect fill="orchid" height="13" width="25" x="518" y="354.5"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="380.75"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="407"/>
			</g>
			<g systemLanguage="en">
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="138.25"/>
				<rect fill="purple" height="13" width="25" x="518" y="180.75"/>
				<rect fill="crimson" height="13" width="25" x="518" y="207"/>
				<rect fill="salmon" height="13" width="25" x="518" y="233.25"/>
				<rect fill="sienna" height="13" width="25" x="518" y="259.5"/>
				<rect fill="yellow" height="13" width="25" x="518" y="302"/>
				<rect fill="cyan" height="13" width="25" x="518" y="328.25"/>
				<rect fill="orchid" height="13" width="25" x="518" y="354.5"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="380.75"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="407"/>
			</g>
			<g direction="rtl" systemLanguage="fa">
				<rect fill="black" height="15.6" width="25" x="808" y="17"/>
				<rect fill="blue" height="15.6" width="25" x="808" y="46.5"/>
				<rect fill="lightgreen" height="15.6" width="25" x="808" y="76"/>
				<rect fill="orange" height="15.6" width="25" x="808" y="105.5"/>
				<rect fill="darkgreen" height="15.6" width="25" x="808" y="135"/>
				<rect fill="purple" height="15.6" width="25" x="808" y="164.5"/>
				<rect fill="crimson" height="15.6" width="25" x="808" y="194"/>
				<rect fill="salmon" height="15.6" width="25" x="808" y="223.5"/>
				<rect fill="sienna" height="15.6" width="25" x="808" y="253"/>
				<rect fill="yellow" height="15.6" width="25" x="808" y="282.5"/>
				<rect fill="cyan" height="15.6" width="25" x="808" y="312"/>
				<rect fill="orchid" height="15.6" width="25" x="808" y="341.5"/>
				<rect fill="darkgray" height="15.6" width="25" x="808" y="371"/>
				<rect fill="lightgray" height="15.6" width="25" x="808" y="400.5"/>
			</g>
			<g systemLanguage="ko">
				<rect fill="black" height="14.3" width="25" x="518" y="17"/>
				<rect fill="blue" height="14.3" width="25" x="518" y="44.875"/>
				<rect fill="lightgreen" height="14.3" width="25" x="518" y="72.75"/>
				<rect fill="orange" height="14.3" width="25" x="518" y="100.625"/>
				<rect fill="darkgreen" height="14.3" width="25" x="518" y="128.5"/>
				<rect fill="purple" height="14.3" width="25" x="518" y="156.375"/>
				<rect fill="crimson" height="14.3" width="25" x="518" y="184.25"/>
				<rect fill="salmon" height="14.3" width="25" x="518" y="212.125"/>
				<rect fill="sienna" height="14.3" width="25" x="518" y="240"/>
				<rect fill="yellow" height="14.3" width="25" x="518" y="267.875"/>
				<rect fill="cyan" height="14.3" width="25" x="518" y="295.75"/>
				<rect fill="orchid" height="14.3" width="25" x="518" y="323.625"/>
				<rect fill="darkgray" height="14.3" width="25" x="518" y="351.5"/>
				<rect fill="lightgray" height="14.3" width="25" x="518" y="379.375"/>
			</g>
			<g systemLanguage="nl">
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="138.25"/>
				<rect fill="purple" height="13" width="25" x="518" y="164.5"/>
				<rect fill="crimson" height="13" width="25" x="518" y="190.75"/>
				<rect fill="salmon" height="13" width="25" x="518" y="217"/>
				<rect fill="sienna" height="13" width="25" x="518" y="243.25"/>
				<rect fill="yellow" height="13" width="25" x="518" y="269.5"/>
				<rect fill="cyan" height="13" width="25" x="518" y="295.75"/>
				<rect fill="orchid" height="13" width="25" x="518" y="322"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="348.25"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="374.5"/>
			</g>
			<g systemLanguage="ru">
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="138.25"/>
				<rect fill="purple" height="13" width="25" x="518" y="180.75"/>
				<rect fill="crimson" height="13" width="25" x="518" y="207"/>
				<rect fill="salmon" height="13" width="25" x="518" y="233.25"/>
				<rect fill="sienna" height="13" width="25" x="518" y="259.5"/>
				<rect fill="yellow" height="13" width="25" x="518" y="285.75"/>
				<rect fill="cyan" height="13" width="25" x="518" y="312"/>
				<rect fill="orchid" height="13" width="25" x="518" y="338.25"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="364.5"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="390.75"/>
			</g>
			<g systemLanguage="uk">
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="138.25"/>
				<rect fill="purple" height="13" width="25" x="518" y="180.75"/>
				<rect fill="crimson" height="13" width="25" x="518" y="207"/>
				<rect fill="salmon" height="13" width="25" x="518" y="233.25"/>
				<rect fill="sienna" height="13" width="25" x="518" y="259.5"/>
				<rect fill="yellow" height="13" width="25" x="518" y="285.75"/>
				<rect fill="cyan" height="13" width="25" x="518" y="312"/>
				<rect fill="orchid" height="13" width="25" x="518" y="338.25"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="364.5"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="390.75"/>
			</g>
			<g systemLanguage="zh-cmn-Hans,zh-Hans,zh-CN">
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="122"/>
				<rect fill="purple" height="13" width="25" x="518" y="148.25"/>
				<rect fill="crimson" height="13" width="25" x="518" y="174.5"/>
				<rect fill="salmon" height="13" width="25" x="518" y="200.75"/>
				<rect fill="sienna" height="13" width="25" x="518" y="227"/>
				<rect fill="yellow" height="13" width="25" x="518" y="253.25"/>
				<rect fill="cyan" height="13" width="25" x="518" y="279.5"/>
				<rect fill="orchid" height="13" width="25" x="518" y="305.75"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="332"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="358.25"/>
			</g>
			<g systemLanguage="zh-cmn-Hant,zh-Hant,zh-TW">
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="122"/>
				<rect fill="purple" height="13" width="25" x="518" y="148.25"/>
				<rect fill="crimson" height="13" width="25" x="518" y="174.5"/>
				<rect fill="salmon" height="13" width="25" x="518" y="200.75"/>
				<rect fill="sienna" height="13" width="25" x="518" y="227"/>
				<rect fill="yellow" height="13" width="25" x="518" y="253.25"/>
				<rect fill="cyan" height="13" width="25" x="518" y="279.5"/>
				<rect fill="orchid" height="13" width="25" x="518" y="305.75"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="332"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="358.25"/>
			</g>
			<g>
				<rect fill="black" height="13" width="25" x="518" y="17"/>
				<rect fill="blue" height="13" width="25" x="518" y="43.25"/>
				<rect fill="lightgreen" height="13" width="25" x="518" y="69.5"/>
				<rect fill="orange" height="13" width="25" x="518" y="95.75"/>
				<rect fill="darkgreen" height="13" width="25" x="518" y="138.25"/>
				<rect fill="purple" height="13" width="25" x="518" y="180.75"/>
				<rect fill="crimson" height="13" width="25" x="518" y="207"/>
				<rect fill="salmon" height="13" width="25" x="518" y="233.25"/>
				<rect fill="sienna" height="13" width="25" x="518" y="259.5"/>
				<rect fill="yellow" height="13" width="25" x="518" y="302"/>
				<rect fill="cyan" height="13" width="25" x="518" y="328.25"/>
				<rect fill="orchid" height="13" width="25" x="518" y="354.5"/>
				<rect fill="darkgray" height="13" width="25" x="518" y="380.75"/>
				<rect fill="lightgray" height="13" width="25" x="518" y="407"/>
			</g></switch>
	</g>
	<g font-family="'DejaVu Sans', sans-serif" font-size="13px" text-anchor="start">
		<switch allowReorder="yes">
			<g systemLanguage="be" xml:lang="be">
				<text x="553" y="27"> </text>
				<text x="553" y="53.25">  </text>
				<text x="553" y="79.5"> </text>
				<text x="553" y="105.75">   </text>
				<text x="553" y="122">- </text>
				<text x="553" y="148.25">  </text>
				<text x="553" y="164.5"> </text>
				<text x="553" y="190.75"> - </text>
				<text x="553" y="217">  </text>
				<text x="553" y="243.25"> </text>
				<text x="553" y="269.5">   </text>
				<text x="553" y="295.75"> </text>
				<text x="553" y="322"> </text>
				<text x="553" y="348.25"></text>
				<text x="553" y="374.5">   </text>
				<text x="553" y="400.75">  UTF-16</text>
				<text x="528" y="437">     15.1</text>
			</g>
			<g systemLanguage="cs" xml:lang="cs">
				<text x="553" y="27">Latinka</text>
				<text x="553" y="53.25">Nelatinkov evropsk psma</text>
				<text x="553" y="79.5">Africk psma</text>
				<text x="553" y="105.75">Psma Blzkho a Stednho vchodu</text>
				<text x="553" y="132">Psma jin a stedn Asie</text>
				<text x="553" y="158.25">Psma jihovchodn Asie</text>
				<text x="553" y="184.5">Vchodoasijsk psma</text>
				<text x="553" y="210.75">ntina, japontina a korejtina</text>
				<text x="553" y="237">Psma Indonsie a Ocenie</text>
				<text x="553" y="263.25">Americk psma</text>
				<text x="553" y="289.5">Notan systmy</text>
				<text x="553" y="315.75">Symboly</text>
				<text x="553" y="342">Pro soukrom pouit</text>
				<text x="553" y="368.25">Nhradn pry UTF-16 (surrogate pairs)</text>
				<text x="528" y="404.5">V Unicode 15.1</text>
			</g>
			<g systemLanguage="de" xml:lang="de">
				<text x="553" y="27">Lateinische Schriften und Symbole</text>
				<text x="553" y="53.25">Andere europische Schriften</text>
				<text x="553" y="79.5">Afrikanische Schriften</text>
				<text x="553" y="105.75">Nahost- und Sdwestasiatische</text>
				<text x="553" y="122">Schriften</text>
				<text x="553" y="148.25">Sd- und Mittelasiatische</text>
				<text x="553" y="164.5">Schriften</text>
				<text x="553" y="190.75">Sdostasiatische Schriften</text>
				<text x="553" y="217">Ostasiatische Schriften</text>
				<text x="553" y="243.25">CJK-Ideogramme</text>
				<text x="553" y="269.5">Indonesische und ozeanische</text>
				<text x="553" y="285.75">Schriften</text>
				<text x="553" y="312">Amerikanische Schriften</text>
				<text x="553" y="338.25">Notationssysteme</text>
				<text x="553" y="364.5">Symbole</text>
				<text x="553" y="390.75">Privater Nutzungsbereich</text>
				<text x="553" y="417">UTF-16-Surrogates</text>
				<text x="528" y="453.25">Stand: Unicode 15.1</text>
			</g>
			<g systemLanguage="en" xml:lang="en">
				<text x="553" y="27">Latin script</text>
				<text x="553" y="53.25">Non-Latin European scripts</text>
				<text x="553" y="79.5">African scripts</text>
				<text x="553" y="105.75">Middle Eastern and</text>
				<text x="553" y="122">Southwest Asian scripts</text>
				<text x="553" y="148.25">South and</text>
				<text x="553" y="164.5">Central Asian scripts</text>
				<text x="553" y="190.75">Southeast Asian scripts</text>
				<text x="553" y="217">East Asian scripts</text>
				<text x="553" y="243.25">CJK characters</text>
				<text x="553" y="269.5">Indonesian and</text>
				<text x="553" y="285.75">Oceanic scripts</text>
				<text x="553" y="312">American scripts</text>
				<text x="553" y="338.25">Notational systems</text>
				<text x="553" y="364.5">Symbols</text>
				<text x="553" y="390.75">Private use</text>
				<text x="553" y="417">UTF-16 surrogates</text>
				<text x="528" y="453.25">As of Unicode 15.1</text>
			</g>
			<g direction="rtl" font-size="15.6" systemLanguage="fa" text-anchor="end" xml:lang="fa">
				<text x="800" y="27"> </text>
				<text x="800" y="56.5">   </text>
				<text x="800" y="86"> </text>
				<text x="800" y="115.5">    </text>
				<text x="800" y="145">     </text>
				<text x="800" y="174.5">   </text>
				<text x="800" y="204">  </text>
				<text x="800" y="233.5"> CJK</text>
				<text x="800" y="263">   </text>
				<text x="800" y="292.5"> </text>
				<text x="800" y="322"></text>
				<text x="800" y="351.5"></text>
				<text x="800" y="381"> </text>
				<text x="800" y="410.5"> UTF-16</text>
				<text x="775" y="450">  </text>
			</g>
			<g font-family="'UnJamoDotum', sans-serif" font-size="14.3" systemLanguage="ko" xml:lang="ko">
				<text x="553" y="27">,  </text>
				<text x="553" y="54.875">  </text>
				<text x="553" y="82.75"> </text>
				<text x="553" y="110.625"> </text>
				<text x="553" y="138.5">   </text>
				<text x="553" y="166.375"> </text>
				<text x="553" y="194.25"> </text>
				<text x="553" y="222.125">CJK </text>
				<text x="553" y="250">,  </text>
				<text x="553" y="277.875">   </text>
				<text x="553" y="305.75">Notational systems</text>
				<text x="553" y="333.625"></text>
				<text x="553" y="361.5">  </text>
				<text x="553" y="389.375">UTF-16   </text>
				<text x="528" y="427.25">    15.1</text>
			</g>
			<g systemLanguage="nl" xml:lang="nl">
				<text x="553" y="27">Latijnse schriften</text>
				<text x="553" y="53.25">Niet-Latijnse Europese schriften</text>
				<text x="553" y="79.5">Afrikaanse schriften</text>
				<text x="553" y="105.75">Midden-Oosterse en</text>
				<text x="553" y="122">Zuidwest-Aziatische schriften</text>
				<text x="553" y="148.25">Zuid- en Centraal-Aziatische schriften</text>
				<text x="553" y="174.5">Zuidoost-Aziatische schriften</text>
				<text x="553" y="200.75">Oost-Aziatische schriften</text>
				<text x="553" y="227">CJK-karakters</text>
				<text x="553" y="253.25">Indonesische en Oceanische schriften</text>
				<text x="553" y="279.5">Noord- en Zuid-Amerikaanse schriften</text>
				<text x="553" y="305.75">Notatiesystemen</text>
				<text x="553" y="332">Symbolen</text>
				<text x="553" y="358.25">Privgebruik</text>
				<text x="553" y="384.5">UTF-16-plaatsvervangers</text>
				<text x="528" y="420.75">Geldig voor Unicode 15.1</text>
			</g>
			<g systemLanguage="ru" xml:lang="ru">
				<text x="553" y="27"> </text>
				<text x="553" y="53.25">  </text>
				<text x="553" y="79.5"> </text>
				<text x="553" y="105.75">   </text>
				<text x="553" y="122">- </text>
				<text x="553" y="148.25">  </text>
				<text x="553" y="164.5"> </text>
				<text x="553" y="190.75"> - </text>
				<text x="553" y="217">  </text>
				<text x="553" y="243.25"> </text>
				<text x="553" y="269.5">   </text>
				<text x="553" y="295.75"> </text>
				<text x="553" y="322"> </text>
				<text x="553" y="348.25"></text>
				<text x="553" y="374.5">   </text>
				<text x="553" y="400.75">  UTF-16</text>
				<text x="528" y="437">     15.1</text>
			</g>
			<g systemLanguage="uk" xml:lang="uk">
				<text x="553" y="27"> </text>
				<text x="553" y="53.25">  </text>
				<text x="553" y="79.5"> </text>
				<text x="553" y="105.75">   </text>
				<text x="553" y="122">- </text>
				<text x="553" y="148.25">  </text>
				<text x="553" y="164.5"> </text>
				<text x="553" y="190.75"> - </text>
				<text x="553" y="217">  </text>
				<text x="553" y="243.25"> </text>
				<text x="553" y="269.5">   </text>
				<text x="553" y="295.75"> </text>
				<text x="553" y="322"> </text>
				<text x="553" y="348.25"></text>
				<text x="553" y="374.5">   </text>
				<text x="553" y="400.75">  UTF-16</text>
				<text x="528" y="437">    15.1</text>
			</g>
			<g systemLanguage="zh-cmn-Hans,zh-Hans,zh-CN" xml:lang="zh-cmn-Hans">
				<text x="553" y="27"></text>
				<text x="553" y="53.25"></text>
				<text x="553" y="79.5"></text>
				<text x="553" y="105.75"></text>
				<text x="553" y="132"></text>
				<text x="553" y="158.25"></text>
				<text x="553" y="184.5"></text>
				<text x="553" y="210.75"></text>
				<text x="553" y="237"></text>
				<text x="553" y="263.25"></text>
				<text x="553" y="289.5"></text>
				<text x="553" y="315.75"></text>
				<text x="553" y="342"></text>
				<text x="553" y="368.25">UTF-16 </text>
				<text x="528" y="404.5"> Unicode 15.1</text>
			</g>
			<g systemLanguage="zh-cmn-Hant,zh-Hant,zh-TW" xml:lang="zh-cmn-Hant">
				<text x="553" y="27"></text>
				<text x="553" y="53.25"></text>
				<text x="553" y="79.5"></text>
				<text x="553" y="105.75"></text>
				<text x="553" y="132"></text>
				<text x="553" y="158.25"></text>
				<text x="553" y="184.5"></text>
				<text x="553" y="210.75"></text>
				<text x="553" y="237"></text>
				<text x="553" y="263.25"></text>
				<text x="553" y="289.5"></text>
				<text x="553" y="315.75"></text>
				<text x="553" y="342"></text>
				<text x="553" y="368.25">UTF-16 </text>
				<text x="528" y="404.5"> Unicode 15.1</text>
			</g>
			<g xml:lang="en">
				<text x="553" y="27">Latin script</text>
				<text x="553" y="53.25">Non-Latin European scripts</text>
				<text x="553" y="79.5">African scripts</text>
				<text x="553" y="105.75">Middle Eastern and</text>
				<text x="553" y="122">Southwest Asian scripts</text>
				<text x="553" y="148.25">South and</text>
				<text x="553" y="164.5">Central Asian scripts</text>
				<text x="553" y="190.75">Southeast Asian scripts</text>
				<text x="553" y="217">East Asian scripts</text>
				<text x="553" y="243.25">CJK characters</text>
				<text x="553" y="269.5">Indonesian and</text>
				<text x="553" y="285.75">Oceanic scripts</text>
				<text x="553" y="312">American scripts</text>
				<text x="553" y="338.25">Notational systems</text>
				<text x="553" y="364.5">Symbols</text>
				<text x="553" y="390.75">Private use</text>
				<text x="553" y="417">UTF-16 surrogates</text>
				<text x="528" y="453.25">As of Unicode 15.1</text>
			</g>
		</switch>
	</g>
</svg>
