.carbon-header-logo-section {
	text-align: center;
	padding: var(--cds-spacing-07) 0;
	background: var(--cds-background);
}

.logo-container {
	margin: 0 auto;
	max-width: 200px;
}

.main-logo {
	width: 100%;
	height: auto;
}

.slogan {
	margin-top: var(--cds-spacing-05);
	font-size: var(--cds-heading-03-font-size);
	color: var(--cds-text-primary);
	font-weight: 300;
}

.carbon-bar-header {
	// Carbon Header 已经处理了 sticky 定位
	z-index: 8000;
}

.header-logo-small {
	width: 2rem;
	height: 2rem;
	margin-right: var(--cds-spacing-03);
}
