---
import Layout from "./_layouts/Layout.astro";
import BangumiCard from "./_components/BangumiCard.astro";
import AttributedQuote from "@/components/AttributedQuote.astro";
import Pn from "@/components/Pn.astro";
import Wbm from "@/components/Wbm.astro";
---

<Layout title="我的 2022 观影记录">
  <main>
    <h1>我的 2022 <span class="text-gradient">观影记录</span></h1>
    <p class="instructions">
      本列表统计的观看情况至 2023 年 1 月 1 日 0 时 0 分 0 秒（<code
        >1672502400</code
      >）止。
    </p>
    <ul role="list" class="link-card-grid">
      <BangumiCard
        title_ja="<u>転</u>生したら<u>スラ</u>イムだった件"
        title_en="That Time I Got Reincarnated as a Slime"
        title_zh="关于我<u>转生</u>变成<u>史莱姆</u>这档事"
        sticker="https://user-images.githubusercontent.com/20166026/210113710-21b7a83b-4e3f-4f73-822e-9d7ea968e2c7.webm"
        rating={60}
        episodes={{
          progress: true,
          list: [
            [" 1  ", "暴風竜ヴェルドラ"],
            [" 2  ", "ゴブリンたちとの出会い"],
            [" 3  ", "ゴブリン村での戦い"],
            [" 4  ", "ドワーフ王国にて"],
            [" 5  ", "英雄王ガゼル・ドワルゴ"],
            [" 6  ", "シズ"],
            [" 7  ", "爆炎の支配者"],
            [" 8  ", "受け継がれる想い"],
            [" 9  ", "大鬼族の襲撃"],
            ["10  ", "オークロード"],
            ["11  ", "ガビル参上！"],
            ["12  ", "狂いゆく歯車"],
            ["13  ", "大激突"],
            ["14  ", "全てを喰らう者"],
            ["15  ", "ジュラの森大同盟"],
            ["16  ", "魔王ミリム来襲"],
            ["17  ", "集う者達"],
            ["18  ", "忍び寄る悪意"],
            ["19  ", "<ruby><rb>暴風大妖渦</rb><rt>カリュブディス</rt></ruby>"],
            ["20  ", "ユウキ・カグラザカ"],
            ["21  ", "シズさんの教え子達"],
            ["22  ", "迷宮攻略"],
            ["23  ", "救われる魂"],
            ["24  ", "外伝：黒と仮面"],
            ["24.5", "閑話：ヴェルドラ日記", false],
            ["24.9", "閑話：ヒナタ・サカグチ", false],
            ["25  ", "リムルの忙しい日々"],
            ["26  ", "獣王國との交易"],
            ["27  ", "楽園、再び"],
            ["28  ", "謀略のファルムス王国"],
            ["29  ", "災厄の前奏曲"],
            ["30  ", "動き出す麗人"],
            ["31  ", "絶望"],
            ["32  ", "希望"],
            ["33  ", "全てを賭けて"],
            ["34  ", "神之怒"],
            ["35  ", "魔王誕生"],
            ["36  ", "解き放たれし者"],
            ["36  ", "5 閑話：ヴェルドラ日記2"],
            ["37  ", "訪れる者たち"],
            ["38  ", "人魔会談"],
            ["39  ", "ラミリスの報せ"],
            ["40  ", "会議は踊る"],
            ["41  ", "会戦前夜"],
            ["42  ", "魔王たち"],
            ["43  ", "開宴の合図"],
            ["44  ", "因縁の地で"],
            ["45  ", "示指のアダルマン"],
            ["46  ", "魔王達の宴"],
            ["47  ", "起死回生"],
            ["48  ", "<ruby><rb>八星魔王</rb><rt>オクタグラム</rt></ruby>"],
          ],
        }}
      >
        战斗的剧情有些拖沓。《日记》更好看一些。
      </BangumiCard>
      <BangumiCard
        title_ja="転スラ日記　転生したらスライムだった件"
        title_en="Tensura Nikki"
        title_zh="转生史莱姆日记　关于我转生变成史莱姆这档事"
        sticker="https://user-images.githubusercontent.com/20166026/214770540-004d7137-3b8b-4c87-a150-40a8652409ea.png"
        rating={70}
        review="有一个 ED 好听。不过好像两个 ED 是交错着放的……？"
        episodes={{
          progress: true,
          list: [
            [" 1日记", "魔物の町の住人たち"],
            [" 2日记", "春の空气と"],
            [" 3日记", "ジュラの夏"],
            [" 4日记", "水着で1日"],
            [" 5日记", "再現ナツマツリ"],
            [" 6日记", "うつろいかわる"],
            [" 7日记", "魔王が来た！"],
            [" 8日记", "みのりの秋"],
            [" 9日记", "冬のおとずれ"],
            ["10日记", "魔物の町の雪化粧"],
            ["11日记", "サンタクロースはどこにい"],
            ["12日记", "正月を満喫"],
          ],
        }}
      />
      <BangumiCard
        title_zh="开端"
        title_en="Reset"
        sticker="https://user-images.githubusercontent.com/20166026/214769808-4c2e2783-13bd-4ea4-8309-8687acca4d42.mp4"
        rating={76}
        episodes={{ list: 15 }}
      >
        很好的一部电视剧！剧情安排得进度非常好。
      </BangumiCard>
      <BangumiCard
        title_ja='<span style="color:#f0555a;">リ</span>コリス・<span style="color:#00b4aa;">リ</span>コイル'
        title_en='<span style="color:#f0555a;">L</span>ycoris <span style="color:#00b4aa;">R</span>ecoil'
        title_zh="莉可莉丝"
        sticker="https://user-images.githubusercontent.com/20166026/210098922-60138d17-9260-4eaa-831d-197c0a056125.webm"
        rating={80}
        episodes={{
          lang: "en",
          list: [
            "Easy does it",
            "The more the merrier",
            "More haste, less speed",
            "Nothing seek, nothing find",
            "So far, so good",
            "Opposites attract",
            "Time will tell",
            "Another day, another dollar",
            "What's done is done",
            "Repay evil with evil",
            "Diamond cut diamond",
            "Nature versus nurture",
            "Recoil of Lycoris",
          ],
        }}
      >
        音乐不错。叙事比较混乱。
      </BangumiCard>
      <BangumiCard
        title_ja="スパイファミリー"
        title_en="SPY×FAMILY"
        title_zh="间谍过家家"
        sticker="https://user-images.githubusercontent.com/20166026/210111874-68d63fa8-5dfe-4117-b479-6ceb3319068c.webm"
        rating={87}
        episodes={{
          list: [
            "オペレーション〈<ruby><rb>梟</rb><rp>（</rp><rt>ストリクス</rt><rp>）</rp></ruby>〉",
            "妻役を確保せよ",
            "受験対策をせよ",
            "名門校面接試験",
            "合否の行方",
            "ナカヨシ作戦",
            "<ruby><rb>標的</rb><rp>（</rp><rt>ターゲット</rt><rp>）</rp></ruby>の次男",
            "対秘密警察偽装作戦",
            "ラブラブを見せつけよ",
            "ドッジボール大作戦",
            "<ruby><rb>星</rb><rp>（</rp><rt>ステラ</rt><rp>）</rp></ruby>",
            "ペンギンパーク",
            "プロジェクト〈アップル〉",
            "時限爆弾を解除せよ",
            "新しい家族",
            "ヨル's キッチン / 情報屋の恋愛大作戦",
            "ぐりほんさくせんを決行せよ /〈<ruby><rb>鋼鉄の淑女</rb><rp>（</rp><rt>フルメタルレディ</rt><rp>）</rp></ruby>〉/ オムライス♡",
            "家庭教師の叔父 /〈<ruby><rb>東雲</rb><rp>（</rp><rt>しののめ</rt><rp>）</rp></ruby>〉",
            "デズモンドへの復讐計画 / 母、風になる",
            "総合病院を調査せよ / 難解な暗号を解読せよ",
            "〈<ruby><rb>夜帷</rb><rp>（</rp><rt>とばり</rt><rp>）</rp></ruby>〉/ はじめての嫉妬",
            "地下テニス大会 キャンベルトン",
            "揺るがぬ軌道",
            "母役と妻役 / ともだちとかいもの",
            "<ruby><rb>接敵作戰</rb><rp>（</rp><rt>ファーストコンタクト</rt><rp>）</rp></ruby></span>",
          ],
        }}
      >
        完成度很高，无论是作画、配音、叙事还是人物塑造都挑不出什么缺点。第二季剧情比第一季更有意思，也不拘泥于一集一个
        MISSION 了。第二季的 ED 不错。
      </BangumiCard>
      <BangumiCard
        title_ja="メイドインアビス <span style='color:#F5A100;'>烈日の黄金郷</span>"
        title_en="Made In Abyss: The Golden City of the Scorching Sun"
        title_zh="来自深渊：<span style='color:#F5A100;'>烈日的黄金乡</span>"
        sticker="https://user-images.githubusercontent.com/20166026/210112857-d661e2bd-4982-4b69-933a-a805713e6b42.webm"
        rating={88}
        episodes={{
          progress: 11.9,
          list: [
            "羅針盤は闇を指した",
            "還らずの都",
            "成り果て村",
            "友人",
            "秘匿",
            "呼び込み",
            "欲望の揺籃",
            "願いの形",
            "帰還",
            "拾うものすべて",
            "価値",
            "黄金",
          ],
        }}
      >
        比第一季略差，第一季我可以给到满分。音乐依旧都是神作。
      </BangumiCard>
      <BangumiCard
        title_ja="夜は猫といっしょ"
        title_en="Nights with a Cat"
        title_zh="夜夜猫歌"
        sticker="https://user-images.githubusercontent.com/20166026/210170506-abb73c42-c336-4369-aa9e-b21119e3b2fb.webm"
        rating={75}
        ongoing={true}
        episodes={{
          progress: true,
          list: [
            ["第　一　夜", "ネコが家に来た日", true],
            ["第　二　夜", "帰宅後のあまえ方がはげしい", true],
            ["第　三　夜", "物を落としたいネコ", true],
            ["第　四　夜", "ネコのグルーミングは痛い", true],
            ["第　五　夜", "ネコの耳にビンタされる", true],
            ["第　六　夜", "焼き魚観察しにくるネコ", true],
            ["第　七　夜", "ネコの写真うまく撮れない", true],
            ["第　八　夜", "ネコの動画うまく撮れない", true],
            ["第　九　夜", "うまく持ち上げられない", false],
            ["第　十　夜", "ネコのずつき攻撃", false],
            ["第 十一 夜", "やさしいネコパンチ", false],
            ["第 十二 夜", "かまってほしいネコ", false],
            ["第 十三 夜", "ネコの耳裏返しがち", false],
            ["第 十四 夜", "ネコに乗せたくなる", false],
            ["第 十五 夜", "ネコとだるまさんが転んだ", false],
            ["第 十六 夜", "感動シーンに寄ってくるネコ", false],
            ["第 十七 夜", "ネコは頭が通れば通り抜けられる", false],
            ["第 十八 夜", "どいてくれないネコ", false],
            ["第 十九 夜", "ネコが足に乗りに来た", false],
            ["第 二十 夜", "抜け毛の時期のネコ", false],
            ["第二十一夜", "ネコが噛んできた", false],
            ["第二十二夜", "ネコにびっくりする", true],
            ["第二十三夜", "ソファーの下を覗くネコ", false],
            ["第二十四夜", "人差し指を嗅がずにいられない", false],
            ["第二十五夜", "ネコに振り向いてほしい", true],
            ["第二十六夜", "ふくらんだしっぽが気になる", false],
            ["第二十七夜", "映画鑑賞をジャマするネコ", false],
            ["第二十八夜", "となりに座るネコ", false],
          ],
        }}
      >
        不错的泡面番。猫猫好。ED 好。
      </BangumiCard>
      <BangumiCard
        title_ja="サイバーパンク エッジランナーズ"
        title_en="Cyberpunk: Edgerunners"
        title_zh="赛博朋克：边缘行者"
        sticker="https://user-images.githubusercontent.com/20166026/210111496-3e155170-b468-450b-8ebb-aa60ea188f20.webm"
        rating={80}
        episodes={{
          list: [
            "期待を背に",
            "少年は何を思う",
            "裏稼業",
            "ツキが回って",
            "刺さる目線",
            "炎に包まれて",
            "もっと強く",
            "いかないで",
            "人間らしさ",
            "私の月、私の恋",
          ],
        }}
      >
        情节紧凑，甚至后面进展太快了。对感情的刻画少了点。
      </BangumiCard>
      <BangumiCard
        title_ja="ぼっち・ざ・ろっく!"
        title_en="Bocchi the Rock!"
        title_zh="孤独摇滚！"
        sticker="https://user-images.githubusercontent.com/20166026/210108292-bdc34431-1efc-47fd-add9-b64877ad9a11.webm"
        rating={95}
        episodes={{
          list: [
            "転がるぼっち",
            "また明日",
            "馳せサンズ",
            "ジャンピングガール(ズ)",
            "飛べない魚",
            "八景",
            "君の家まで",
            "ぼっち・ざ・ろっく",
            "江ノ島エスカー",
            "アフターダーク",
            "十二進法の夕景",
            "君に朝が降る",
          ],
        }}
      >
        非常 dramatic，简直是 meme
        制造机，很好。音乐也很好。不过不太喜欢直接插入真实世界的照片作为场景（还有饼）的做法。不给满分的原因是对于乐队外的人的描写比较少，而这对于主角们的刻画也是至关重要的。
      </BangumiCard>
      <BangumiCard
        title_ja="Do It Yourself!! -どぅー・いっと・ゆあせるふ-"
        sticker="https://user-images.githubusercontent.com/20166026/210150374-e29c42e8-1c30-4150-a92e-098779d02444.webm"
        rating={81}
        episodes={{
          list: [
            ["Step①", "DIYって、どー・いう・やつ？"],
            ["Step②", "DIYって、だれかと・いっしょに・やるってこと？"],
            ["Step③", "DIYって、どうして・いきなり・やってきた？"],
            ["Step④", "DIYって、どこでも・いごこち・よくなるよ"],
            ["Step⑤", "DIYって、どこかに・いばしょが・ようやく"],
            ["Step⑥", "DIYって、どうでも・いいもの・やくにたつ！"],
            ["Step⑦", "DIYって、ぢめぢめしてたら・いえで・やればいいね"],
            ["Step⑧", "DIYって、できない？・いいえ！・やれますとも！"],
            ["Step⑨", "DIYって、どっきり？・いがい！・よていがい！"],
            [
              "Step⑩",
              "DIYって、どんぞこ？・いんぽっしぶる？・ゆうきとやるきがあればなんでもできる！",
            ],
            ["Step⑪", "DIYって、どぅー・いっと・ゆあせるふ！"],
            ["Step⑫", "DIYって、どんなときも・いつまでも・ゆうじょう！"],
          ],
        }}
      >
        主题很有新意！不足之处在于大部分场景都与科技发展不符；人物说话很啰嗦，比较拖沓，不知道台词是怎么写的，听起来非常别扭。
      </BangumiCard>
      <BangumiCard
        title_zh="三体（艺画开天）"
        sticker="https://user-images.githubusercontent.com/20166026/210150710-564cb5cf-5245-42be-8be5-96bac197e8b9.webm"
        rating={30}
        ongoing={true}
        episodes={{
          progress: 4.9,
          lang: "zh",
          list: [
            "意义之塔",
            "遥远的射手",
            "凡尔纳岛",
            "光锥之内",
            "对面壁者的笑",
          ],
        }}
      >
        这个是 2022 年看了前 4 集的想法，现在看来还是给多了，至少远不如 WeTV
        的电视剧。最明显的是 3D
        建模实在是太差了，人的模型表面纹理、次表面反射都没有。因此我的评价是是：
        <AttributedQuote>
          你已经浪费了金钱，就不要再浪费时间了。
          <Fragment slot="attr">
            <Pn><ruby>刘慈欣<rt>shipship</rt></ruby></Pn>对<Pn>
              王晋康
            </Pn>作品<Wbm>十字</Wbm>的私下评价
          </Fragment>
        </AttributedQuote>
      </BangumiCard>
      <BangumiCard
        title_zh="天才基本法"
        title_en="The Heart of Genius"
        sticker="https://user-images.githubusercontent.com/20166026/210151185-aeb8a0b0-8119-4c6e-96e9-283bebb26eaf.webm"
        rating={65}
        review="水时长。剧情还不错。"
        episodes={{ progress: 31, list: 34 }}
      />
      <BangumiCard
        title_zh="唐人街探案3"
        title_en="Detective Chinatown 3"
        title_ja="唐人街探偵 東京MISSION"
        sticker="https://raw.githubusercontent.com/OverflowCat/blog/36780e77324b2c2d4e3db0f449ba2e68e9255b2f/chinatown.webp"
        rating={50}
      >
        部分任务设计得没啥意思，感觉还没有上一部好。中间有个插入歌不错。
      </BangumiCard>
      <BangumiCard
        title_zh="火星救援"
        title_en="The Martian"
        sticker=""
        rating={65}
      >
        没啥新意。
      </BangumiCard>
      <BangumiCard
        title_zh="<span style='color: red;'>＜</span><span style='color: red;'>/</span>天蝎<span style='color: red;'>＞</span>"
        title_en="<span style='color: red;'>＜</span><span style='color: red;'>/</span>SCORPION<span style='color: red;'>＞</span>"
        sticker="https://upload.wikimedia.org/wikipedia/zh/0/03/Scorpion_intertitle.png"
        rating={70}
        episodes={{
          progress: 7.9,
          list: [
            ["S01E01", "Pilot"],
            ["S01E02", "Single Point of Failure"],
            ["S01E03", "A Cyclone"],
            ["S01E04", "Shorthanded"],
            ["S01E05", "Plutonium is Forever"],
            ["S01E06", "True Colors"],
            ["S01E07", "Father's Day"],
            ["S01E08", "Risky Business"],
            ["S01E09", "Rogue Element"],
            ["S01E10", "Talismans"],
          ],
        }}
      >
        中规中矩的美剧。
      </BangumiCard>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0.1rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 0.5rem;
    padding: 0;
  }
</style>
