---
import { getAllComments } from "@/scripts/comments";
import { truncate } from "@/scripts/intl";
import { getBlogPosts } from "@/scripts/post";
import "@/styles/a.less";

const comments = getAllComments();
const posts = await getBlogPosts();
const slugMap = new Map(posts.map((post) => [post.slug as string, post.data]));
---

<ul id="comments">
  {
    comments.slice(0, 7).map((comment) => (
      <li>
        <strong>{comment.data.name}</strong> 在
        <date>
          {comment.data.date.getMonth() + 1} 月 {comment.data.date.getDate()} 日
        </date>
        评论《<a href={`${comment.slug}/#comment-${comment.data.id}`} set:text={slugMap.get(comment.slug)!.title} />》说：
        {truncate(comment.data.message, 30)}
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    padding-inline-start: 0.5em;
  }
  date {
    color: #333;
    font-style: italic;
  }
  a {
    border-block-end: 1.5px solid var(--link-underline-color, #777)!important;
  }
</style>
