---
import { getAllComments } from "@/scripts/comments";
import { truncate } from "@/scripts/intl";
import "@/styles/a.less";

const comments = await getAllComments();
---

<ul id="comments">
  {
    comments.slice(0, 7).map((comment) => (
      <li>
        <strong>{comment.name}</strong> 在
        <date>
          {comment.date.getMonth() + 1} 月 {comment.date.getDate()} 日
        </date>
        评论《
        <a href={comment.slug} set:text={comment.title} />
        》说：
        {truncate(comment.message, 30)}
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    padding-inline-start: 0.5em;
  }
  date {
    color: #333;
    font-style: italic;
  }
  a {
    border-block-end: 1.5px solid var(--link-underline-color, #777)!important;
  }
</style>
