---
export interface Props {
  padding?: boolean;
  classes?: string[];
  [key: string]: any;
  transitionName?: string;
}

let { padding, classes, transitionName, ...rest } = Astro.props;
if (classes === undefined) {
  classes = [];
}
if (padding) {
  classes?.push("padding");
}
---

<div
  class:list={["paper"].concat(classes)}
  {...rest}
  transition:animate="initial"
  transition:name={transitionName}
>
  <slot />
</div>

<style>
  .paper {
    box-shadow:
      rgba(0, 0, 0, 0.12) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.06) 0px 3px 1px -2px,
      rgba(0, 0, 0, 0.12) 0px 1px 5px 0px,
      rgba(0, 0, 0, 0.09) 0px -1px 0.5px 0px;
    box-sizing: border-box;
    border-radius: initial;
    background-color: var(--paper-bg);
  }
  .padding {
    padding: 8px;
  }
</style>
