---
// 专名号（Proper Name/Noun）
---

<span class="pn outer">
  <span class="inner"> <slot /></span>
</span>

<style lang="less">
  .pn.outer {
    margin-inline: 1px;
    > .inner {
      margin-inline: -1px;
    }
    border-block-end: 1px solid;
    & + & {
      margin-inline-start: 0.1em;
      > .inner {
        margin-inline-start: -0.05em;
      }
    }
  }
</style>
