---
export interface Props {
  title: string;
}

const { title } = Astro.props;

// import "modern-css-reset";
---

<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --body-bg-color: #eee;
    --accent-color: rgb(0, 0, 0);
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  h1 {
    text-align: center;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }
</style>
