---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "modern-css-reset";
---

<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --body-bg-color: #eee;
    --accent-color: rgb(155, 61, 149);
  }

  h1 {
    text-align: center;
  }

  blockquote {
    border-left: 4px solid #ddd;
    color: var(--blockquote-color);
    margin: 0;
    padding: 0 15px;
  }

  blockquote cite::before {
    content: "-";
    padding: 0 5px;
  }
</style>
