[lang="mnc"] {
  font-family: "Noto Sans Mongolian", "Mongolian Baiti";
}
[lang="mö"] {
  font-family: monospace;
  font-size: 125%;
}
.mnc-area {
  writing-mode: vertical-lr;
  overflow-x: scroll;
  max-width: 100%;
  margin: 8px;
  padding: 4px;
  padding-top: 12px;
}
.yoko {
  text-combine-upright:all;
}
lite-youtube {
  margin: auto;
}

.dead {
  border: 1.5px solid;
  filter: grayscale(1) contrast(999) ;
  min-height: 1em;
  padding: 1px 1px;
}
