[lang="mnc"] {
  font-family: "Noto Sans Mongolian", "Mongolian Baiti";
}
[lang="mö"] {
  font-family: monospace;
  font-size: 125%;
}
.mnc-area {
  writing-mode: vertical-lr;
  overflow-x: scroll;
  max-width: 100%;
  margin: 8px;
  padding: 4px;
  padding-top: 12px;
}
.yoko {
  text-combine-upright: all;
}
lite-youtube {
  margin: auto;
}

.dead {
  border: 1.5px solid;
  filter: grayscale(1) contrast(999);
  min-height: 1em;
  padding: 1px 1px;
}

div.h-center { /* horizontally center div */
  margin: auto;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}
.tabset .tab-panel {
  display: none;
}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}
/* Styling */
.tabset {
  font: 14px/1.25em "Overpass", "Open Sans", Helvetica, sans-serif;
}
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}
.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 30px;
  height: 4px;
  background: #8d8d8d;
}
.tabset > label:hover,
.tabset > input:focus + label {
  color: #cccccc;
}
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #cccccc;
}
.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}
.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
