div.post-description {
  font-size: 1.15em!important;
}
div.post-meta {
  font-size: 0.9em!important;
}
[lang="mnc"], .site-author {
  font-family: "Noto Sans Mongolian", "Mongolian Baiti";
  writing-mode: vertical-lr;
}
[lang="mö"] {
  font-family: monospace;
  font-size: 125%;
}
.mnc-area, {
  writing-mode: vertical-lr;
  overflow-x: scroll;
  max-width: 100%;
  margin: 8px;
  padding: 4px;
  padding-top: 12px;
}
.site-author {
  vertical-align: center;
  padding: 8px;
}
.site-author-name {
  margin-block-start: 0.5em;
}
.site-author-image, header.header {
  user-select: none;
}
.yoko {
  text-combine-upright: all;
}
lite-youtube {
  margin: auto;
}

.dead {
  border: 1.5px solid;
  filter: grayscale(1) contrast(999);
  min-height: 1em;
  padding: 1px 1px;
}

div.h-center { /* horizontally center div */
  margin: auto;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}
.tabset .tab-panel {
  display: none;
}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}
/* Styling */
.tabset {
  font: 14px/1.25em "Overpass", "Open Sans", Helvetica, sans-serif;
}
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}
.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 30px;
  height: 4px;
  background: #8d8d8d;
}
.tabset > label:hover,
.tabset > input:focus + label {
  color: #cccccc;
}
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #cccccc;
}
.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}
.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

@font-face {
  font-family: cursive;
  src: local("Kaiti TC Regular"), local(STKaiTi-TC-Regular), local("Kaiti TC"),
    local("Kaiti SC"), local(STKaiti), local(BiauKai), local("標楷體"),
    local(DFKaiShu-SB-Estd-BF), local(Kaiti), local(DFKai-SB);
}
@font-face {
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734,
    U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23,
    U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F,
    U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
  font-family: "Han Kaiti";
  src: local("Kaiti TC Regular"), local(STKaiTi-TC-Regular), local("Kaiti TC"),
    local("Kaiti SC"), local(STKaiti), local(BiauKai), local("標楷體"),
    local(DFKaiShu-SB-Estd-BF), local(Kaiti), local(DFKai-SB);
}
@font-face {
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734,
    U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23,
    U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F,
    U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
  font-family: "Han Kaiti CNS";
  src: local(BiauKai), local("標楷體"), local(DFKaiShu-SB-Estd-BF),
    local("Kaiti TC Regular"), local(STKaiTi-TC-Regular), local("Kaiti TC");
}
@font-face {
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734,
    U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23,
    U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F,
    U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
  font-family: "Han Kaiti GB";
  src: local("Kaiti SC Regular"), local(STKaiTi-SC-Regular), local("Kaiti SC"),
    local(STKaiti), local(Kai), local(Kaiti), local(DFKai-SB);
}
@font-face {
  font-family: cursive;
  font-weight: 600;
  src: local("Kaiti TC Bold"), local(STKaiTi-TC-Bold), local("Kaiti SC Bold"),
    local(STKaiti-SC-Bold), local("Kaiti TC"), local("Kaiti SC");
}
@font-face {
  font-family: "Han Kaiti";
  font-weight: 600;
  src: local("Kaiti TC Bold"), local(STKaiTi-TC-Bold), local("Kaiti SC Bold"),
    local(STKaiti-SC-Bold), local("Kaiti TC"), local("Kaiti SC");
}
@font-face {
  font-family: "Han Kaiti CNS";
  font-weight: 600;
  src: local("Kaiti TC Bold"), local(STKaiTi-TC-Bold), local("Kaiti TC");
}
@font-face {
  font-family: "Han Kaiti GB";
  font-weight: 600;
  src: local("Kaiti SC Bold"), local(STKaiti-SC-Bold);
}
article blockquote:not(:lang(zh)):not(:lang(ja)) {
  font-family: Georgia, "Times New Roman", "Han Kaiti", cursive, serif;
}
article blockquote:lang(zh),
article blockquote:lang(zh-Hant) {
  font-family: "Biaodian Pro Serif CNS", "Numeral LF Serif", Georgia,
    "Times New Roman", "Zhuyin Kaiti", "Han Kaiti", cursive, serif;
}
.no-unicoderange article blockquote:lang(zh-CN),
.no-unicoderange article blockquote:lang(zh-Hans) {
  font-family: "Numeral LF Serif", Georgia, "Times New Roman", "Han Kaiti GB",
    cursive, serif;
}
article blockquote:lang(ja) {
  font-family: "Yakumono Serif", "Numeral LF Serif", Georgia, "Times New Roman",
    cursive, serif;
}
.no-unicoderange article blockquote:lang(ja) {
  font-family: "Numeral LF Serif", Georgia, "Times New Roman", cursive, serif;
}