---
import { getComments } from "@/scripts/comments";
import Form from "./Form.astro";
import "@/styles/a.less";
import Comment from "./Comment.astro";

export interface Props {
  slug?: string;
}

const slug = Astro.props.slug ?? Astro.url.pathname.replace(/^\/|\/$/g, "");
const comments = getComments(slug);
---

<div id="comments">
  <h2>评论</h2>
  {
    comments.length >= 1 && (
      <section id="comment-list">
        <ul>
          {comments.map((comment) => (
            <Comment comment={comment} />
          ))}
        </ul>
      </section>
    )
  }

  <Form />
</div>

<style lang="less" is:global>
  #comments {
    code,
    pre,
    a {
      word-break: break-all;
    }
  }
</style>

<style lang="less">
  h2 {
    text-align: center;
  }
  #comment-list {
    margin: 1rem;
    ul {
      list-style: none;
      padding: 0;
    }
  }
</style>
