---
import { getComments } from "@/scripts/comments";
import Form from "./Form.astro";
import "@/styles/a.less";

const slug = Astro.url.pathname.replace(/^\/|\/$/g, "");

const comments = getComments(slug);
---

<div class="comments">
  <h2>评论</h2>
  {
    comments.length >= 1 && (
      <section id="comment-list">
        <ul>
          {comments.map((comment) => (
            <li>
              <h4>
                {comment.name}
                <date>{comment.date.toLocaleDateString()}</date>
              </h4>
              <p>{comment.message}</p>
            </li>
          ))}
        </ul>
      </section>
    )
  }

  <Form />
</div>

<style lang="less">
  h2 {
    margin: 1.5rem auto 0;
    text-align: center;
  }
  #comment-list {
    margin: 1rem 1rem;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: 1rem;
      padding: 0 0.7rem;
      border-bottom: 1px solid #999;

      p {
        font-size: 16px;
      }
    }

    h4 {
      font-size: 125%;
      margin-bottom: 1rem;

      & > date {
        font-size: 0.8rem;
        color: var(--text-secondary);
        margin-left: 0.5rem;
      }
    }

    date {
      font-size: 0.8rem;
      color: #666;
    }
  }
</style>
