---
import nameGen from "@/scripts/name-gen";
let slug = Astro.url.pathname.replace(/^\/|\/$/g, "");
---

<form
  action="https://qiao.xinshijiededa.men/api/handle/form"
  method="post"
  class="comment-form"
>
  <div class="form-group">
    <label for="fields[name]">昵称 *</label>
    <input type="text" name="fields[name]" placeholder={nameGen()} required />
  </div>

  <div class="form-group">
    <label for="fields[email]">Email *</label>
    <input
      type="text"
      name="fields[email]"
      placeholder="不会公开显示"
      required
    />
  </div>

  <div class="form-group">
    <label for="fields[message]">留言 *</label>
    <textarea
      name="fields[message]"
      id="message"
      rows="6"
      placeholder="请洒潘江，各倾陆海云尔……"
      required></textarea>
  </div>

  <div class="form-group hidden">
    <!-- <label for="options[captcha]">验证码，别勾选我！</label> -->
    <!-- <input type="checkbox" name="fields[captcha]" /> -->
    <label for="options[slug]">Slug</label>
    <input type="text" name="options[slug]" value={slug} />
  </div>

  <button type="submit" class="form-button">发送</button>
  <span class="info">
    评论将在审核后显示，阁下可以在本博客的 Github 仓库的 <a
      href="https://github.com/OverflowCat/blog/pulls/app%2Foverflowcat"
      >拉取请求列表</a
    > 中查看。<br />本表单无 JavaScript，请勿重复提交。
  </span>
</form>

<style lang="less">
  .info {
    font-size: 14.5px;
    color: #606060;
    margin-inline-start: 1rem;
    br {
      display: none;
    }
  }
  @media (max-width: 938px) {
    .info {
      display: block;
      br {
        display: inline;
      }
    }
  }

  @media (max-width: 638px) {
    .info > br {
      display: none;
    }
  }

  .comment-form {
    font-family: Arial, sans-serif;
    font-size: 115%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      text-align: left;
      user-select: none;
      font-size: 17px;
    }
    input,
    textarea {
      width: 100%;
      padding: 8px 10px;
      border: 2px solid #e1e1e1;
      border-radius: 2px;
      font-size: 16px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 2px solid #737373;
      }
    }
    textarea {
      resize: vertical;
      min-height: 180px;
      max-height: 500px;
    }
  }

  .form-button {
    background-color: #424242;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    &:hover {
      background-color: #6c6c6c;
    }
  }

  .hidden {
    display: none;
    user-select: none;
  }
</style>
