---
import nameGen from "@/scripts/name-gen";
import { pick } from "@/scripts/serendipity.ts";
let slug = Astro.url.pathname.replace(/^\/|\/$/g, "");
const placeholder = pick([
  "请洒潘江，各倾陆海云尔…",
  "矮纸斜行闲作草，晴窗细乳戏分茶…",
  "此意在人间，试听徽外三两弦…",
  "给主人留下些什么吧～",
]);
---

<form
  action="https://qiao.xinshijiededa.men/api/handle/form"
  method="post"
  class="comment-form"
>
  <div class="form-group">
    <label for="fields[name]">昵称 *</label>
    <input type="text" name="fields[name]" placeholder={nameGen()} required />
  </div>

  <div class="form-group">
    <label for="fields[email]">Email *</label>
    <input
      type="text"
      name="fields[email]"
      placeholder="不会公开显示"
      required
    />
  </div>

  <div class="form-group">
    <label for="fields[message]">留言 *</label>
    <textarea
      name="fields[message]"
      id="message"
      rows="6"
      placeholder={placeholder}
      style={{ fontFamily: "inherit" }}
      required></textarea>
  </div>

  <div class="form-group hidden">
    <!-- <label for="options[captcha]">验证码，别勾选我！</label> -->
    <!-- <input type="checkbox" name="fields[captcha]" /> -->
    <label for="options[slug]">Slug</label>
    <input type="text" name="options[slug]" value={slug} />
  </div>

  <button type="submit" class="form-button">发送</button>
  <span class="info">
    评论将在审核后显示，阁下可以在本博客的 Github 仓库的 <a
      href="https://github.com/OverflowCat/blog/pulls/app%2Foverflowcat"
      >拉取请求列表</a
    > 中查看。<br />本表单无 JavaScript，请勿重复提交。
  </span>
</form>

<style lang="less">
  .info {
    font-size: 14.5px;
    color: #606060;
    margin-inline-start: 1rem;
    br {
      display: none;
    }
  }
  @media (max-width: 938px) {
    .info {
      display: block;
      br {
        display: inline;
      }
    }
  }

  @media (max-width: 638px) {
    .info > br {
      display: none;
    }
  }

  .hidden {
    display: none;
    user-select: none;
  }

  .comment-form {
    font-size: 115%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  .form-group {
    margin-block-end: 20px;

    label {
      display: block;
      margin-block-end: 5px;
      font-weight: bold;
      text-align: start;
      user-select: none;
      font-size: 17px;
    }

    input,
    textarea,
    [contenteditable] {
      inline-size: 100%;
      max-inline-size: 100%;
      text-orientation: mixed;
      padding: 10px;
    }

    textarea {
      resize: vertical; // TODO: Chrome 118 supports `block`
      min-block-size: 180px;
      max-block-size: 500px;
    }
  }
</style>
