.bilicontainer {
    max-inline-size: min(95%, 90vi);

    small {
        color: #565656e2;
    }

    div.bili {
        max-inline-size: 900px;
        max-block-size: 700px;
    }

    img.bili-cover {
        cursor: pointer;
    }

    iframe.bili {
        width: 100%;
        border: none;
    }
}