---
import Paper from "@/components/FakePaper.astro";
import "@/styles/icon.less";
import Comments from "@/components/comments/Comments.astro";
// import "@/styles/snowy.css";
import Common from "./Common.astro";

const { frontmatter } = Astro.props;
import Bar from "@/templates/Bar.astro";
import "@/styles/form.less";
---

<Bar theme="light" lang="zh-Hans" />
<Paper
  transitionName="main"
  padding={true}
  paper={frontmatter.paper !== false}
  classes={["resizable"]}
>
  <Common frontmatter={frontmatter}>
    <slot />
  </Common>
</Paper>

<section id="comments">
  <Paper padding={true} paper={true} classes={["resizable"]}>
    <Comments />
  </Paper>
</section>

<style lang="less" is:global is:inline>
  :root {
    color-scheme: light;
  }
  .paper {
    margin: auto;
    overflow-x: hidden;
    resize: horizontal;
  }

  .resizable {
    inline-size: 1024px;
    max-inline-size: calc(100vi - 2em);
    min-inline-size: 480px;
  }

  section#comments {
    margin-block: 1em;
  }
</style>
